[2018-09-21 09:52] nicola opened #67 "Idea: Jury Trial for guaranteed price and fair delivery"
historical note: This is a proposal which I have written down just before our lab week in Crete and based on work on "Probabilistic Trust" I have done at MIT. I was asked by @colinevran to write the Fair Delivery protocol down as an answer to https://github.com/filecoin-project/aq/issues/76. Just for reference, we call Jury Trial any protocol that samples from a population of 51% honesty.

---

th

[2018-09-21 09:54] nicola opened #68 "Idea: use consistent hashing to avoid miner-monopoly and greedy-miner attacks (broken)"
This is an intuition of how we could go about solving the two following attacks using ideas from consistent hashing.

This solution is actualy broken, I am posting this here since:
- This is something that we should investigate more (later!), since this could get us two birds with one stone!
- This is also a greaaaat interview question!

We discussed this solution about a year and a half ago, but

[2018-09-24 14:57] bvohaska opened #71 "SEAL Stacking Attack (SEALSTACK)"
## (Storage) SEAL Stacking Attack (SEALSTACK)

A *greedy* miner `M*` wishes to increase its `power` by faking physical storage by *stacking* SEALs.

Attack format taken from [Common Attack Format](https://github.com/filecoin-project/aq/issues/67)

---

### More detailed attack description

In this attack, `M*` wishes to increase its amount of 'power' in the system and thus increasing its chance of

[2018-09-27 17:18] bvohaska opened #1 "Signature Aggregation"
### MASTERPLAN

- [x] Literature review
  - [x] Document signature aggregation schemes
  - [x] Document pros/cons of each method
- [x] Choose a best signature aggregation scheme
- [x] Build a research prototype
-  [x] Investigate optimization opportunities (@dignifiedquire)
-  [x] Decide if this work will be included in the next launch
- [x] If included in next launch, make Spec

### Storage Limit

[2018-10-04 20:50] whyrusleeping opened #25 "Multilane Payment Channels with Reconciliation"
### Multi-Lane Payment Channel

The filecoin storage market may require a way to do incremental payments between two parties, over time, for multiple different transactions. The primary motivating usecase for this is to provide payment for file storage over time, for each file stored. An additional requirement is the ability to have less than one message on chain per transaction 'lane', meaning th

[2018-10-09 10:01] nicola opened #73 "VDF - Attacks"
What happens if VDFs asics were immediate?
- Seal?
- Proof of spacetime?
- Block delayer?

[2018-10-18 14:59] whyrusleeping opened #2 "'Safe' mining pools"
(I'm just writing down a thought I had today, not really expecting it to go anywhere)

In the current imagining of filecoin, every on-chain miner entity has an 'owner' to which block rewards are paid out. We could construct a profit-sharing pool to act as the owner for small miners, where the rewards for every miner winning a block in that pool are split amongst the participants. The nice thing ab

[2018-10-22 13:51] nicola opened #3 "Brainstorming: Removing the requirement for VDFs asics"
- **Direction 0: Mitigations**
  - **Proposal 0:** Change hard-coded VDF every month
  - **Proposal 1:** VDFs that we use are memory-hard
    - according to Ben they are difficult, require SNARKs and might be really expensive to prove. An idea would be to avoid using SNARKs (see [PIE paper](https://www.cs.cornell.edu/~ethan/papers/incompressible-encodings.pdf))
- **Direction 1: Changing protocol (

[2018-10-23 01:15] whyrusleeping opened #4 "Offchain storage market makes variable collateral really hard"
If the storage market 'deals' happen off-chain, then there isnt actually a good way for storage miners to offer different amounts of collateral to back different files. Since the total amount of collateral being offered to different clients can't be certified, you can't trust that the miner would actually have enough collateral around to pay up.

One potential mitigation would be for miners to ple

[2018-10-23 17:01] bvohaska opened #74 "VDF - Constructions"
This is a place to discuss VDF constructions.

- Pros
- Cons
- Performance

This is not the place to discuss attacks. Attacks are discussed [here](#24)

[2018-10-26 17:54] bvohaska opened #6 "Positive Feedback PowerTable Attack (POSITRACK)"
## (Consensus) Positive Feedback PowerTable Attack (POSITRACK)

**This is a work in progress - Not all attack details are here - Details are being added as they are refined**

In certain edge cases, a miner `M*` with power `Pow*` is able to prevent block finality by submitting invalid blocks. In the extreme case, this results in a potential global denial of service (DoS). It is currently unclear i

[2018-10-29 18:01] nicola opened #7 "Brainstorm: Improving the Repair Market"
The Filecoin throughput calculator shows that the current [Repair Market proposal](https://github.com/filecoin-project/specs/blob/master/drafts/offchain-repair.md) has scalability issues due to on-chain communication.

Here are some ideas that could help scale the market:

- [ ] **Reducing the guarantees of guaranteed repair**
- [ ] **Aggregate on-chain deal:** In the repair market, deals are post

[2018-11-05 23:29] whyrusleeping opened #12 "[Brainstorming] Avoiding heavy penalizations for honest miners"
Filecoin is a complicated system, and miners take on non-trivial risk by participating. In the most popular blockchains today, the 'problems' a miner can run into are pretty well understood. They could lose their private keys, they could have their software misconfigured and not actually be mining, and several other similar things. When moving to a system like Filecoin (or other Proof-Of-Stake-lik

[2018-11-09 02:29] porcuquine opened #76 "Probabilistic Proofs"
### Problem

As of now, the only way we have to generate enough (200) challenges for a ZigZagPoRep is to split the circuit and generate many individual circuit proofs. The larger the proofs, the larger the sector size required to meet scaling requirements. However, if sector size becomes so large that sealing requires going to disk without very large amounts of RAM, there are likely to be problems

[2018-11-10 02:18] whyrusleeping opened #9 "Network Bootstrapping"
@jbenet and I talked about bootstrapping the Filecoin network today. The general proposal for moving forward here is for us, the stewards of the Filecoin network, to pick an initial amount of storage that we want to start the network with, and allocate those slots to some set of miners. Those miners would then pre-seal and commit to the pre-arranged data, and submit to us their seals, which we wou

[2018-11-13 21:28] nicola opened #10 "Proofs tradeoffs and Proofs timing estimation"
Moving it from https://github.com/filecoin-project/rust-proofs/issues/285

- [ ] Have a calculator that given the soundness that we want says how many proofs we need for DRGPorep (✅) and ZigZagPorep ([tradeoff notebook](https://beta.observablehq.com/d/60d1d6521a19e2be))
- [ ] Have a calculator that describes given some parallelization, how long proofs should take ([seal benchmark notebook](https:/

[2018-11-14 16:31] nicola opened #11 "How do we tune the depth of our DRG Graph?"
- This is useful for writing the proofs spec @porcuquine

[2018-11-16 09:57] porcuquine opened #13 "Serial Replication"
# Serial Replication

## Problem

If replication can be parallelized, then we are forced to require a degree of parallelization in our implementation in order to ensure that the we can replicate at speeds within some fraction of that of the most parallel miners. ~The possibility of highly parallel replication also means the lower-bound of replication time is determined by the depth of the DRG. Thi

[2018-11-20 18:09] nicola opened #77 "Write down asymmetric porep proposal with resealing"

[2018-11-21 16:16] nicola opened #14 "Write a note about watchtowers for the storage market and repair"
The current storage market assumes that the clients will be online in order to detect and report faults.

**Watchtowers for storage market:** I propose that we introduce a new party (as described in PISA by McCorry et. al): watchtower. A watchtower is responsible to report faults on behalf of the clients. If the miss to report faults, they lose some collateral.

**Watchtowers for repair:** In addi

[2018-11-24 07:55] sternhenri opened #20 "Miner Delay"
Delay is a key aspect of the FIL protocol impacting it in multiple places (unrelated but capturing them here before we split them out):
- Block delay
  - (not included here), see #58
- Payout delay
  - (current) not defined
  - Delay on miner payout after they earn a block reward? Related to slashing and finality. May prevent losses for miners who get a payout before finality (related to http://di

[2018-11-27 21:35] porcuquine opened #24 "Multiple Sector Sizes"
# Multiple Sector Sizes
Should we support multiple sectors sizes? If so, how should this be implemented?

Depending on how we end up mitigating SEALSTACK, it may be the case that small sectors are the only way to implement fast, random-access retrieval. However, large sectors may be the only way we can meet scaling requirements. Assuming we choose to support multiple sector sizes, how can we arran

[2018-11-29 17:16] nicola opened #28 "Difficulty Adjustment"
How do we adjust the number of proofs/time between proofs?

---

Previous issues on the topic: https://github.com/filecoin-project/aq/issues/49

[2018-11-29 17:21] nicola opened #29 "Tolerating faults in PoSt"
How can we make sure a PoSt can stop and restart?

- This should include power faults, storage faults
- It should include a protocol to restart
- It should include a protocol to report the faults https://github.com/filecoin-project/specs/issues/172

---

Previous conversations:
- https://github.com/filecoin-project/specs/issues/172
- https://github.com/filecoin-project/aq/issues/82

[2018-11-29 17:24] nicola opened #30 "How to transfer sectors"
A solution is needed for transfering sector from a miner to another miner with all the deals inside

[2018-11-29 17:39] nicola opened #31 "Collecting/Preventing DOS attacks"
- slashing a miner with a million sectors
- Client DoSing miner via big files
- Too many miners
- general chain spam effect on storage market

[2018-11-29 18:05] nicola opened #32 "Fixing SEALSTACK"
This issue is a master issue to track work that fixes SEALSTACK attack

(see previous notes here)

[2018-11-29 18:14] nicola opened #78 "Design a circuit for current PoSt construction"

[2018-11-29 18:17] nicola opened #33 "Understand tradeoff between Wesolowski and Sloth as VDF in PoSt"
Ben has a trick to efficiently prove Wesolowski in a circuit.
- What is the tradeoff between WesVDF vs Sloth inside of the circuit?
- How "safer" is to use WesVDF over Sloth?

[2018-11-29 18:28] nicola opened #79 "Write security definition for PoSt"
Proving security for the construction written here: [PoSt spec](https://github.com/filecoin-project/specs/blob/master/drafts/proof-of-spacetime.md)

[2018-11-30 17:43] ZenGround0 opened #34 "Seed: how biased can it be?"
How "bad" would it be if we could bias the on-chain random seed by one bit, for example by having two private forks and choosing which one to release?

As noted by @nicola the answer depends on what we use the seed for.  A few likely users I know about are:
* EC leader election
* PoSts
* PoRep Seal??

[2018-12-07 00:10] sternhenri opened #42 "Parameter setting"
What things can we touch?

[2018-12-07 16:39] nicola opened #43 "Make SEALing maliciously fast"
The idea is to implement the "slow" parts (blake2s or sloth) in the fastest implementation today (cpu, gpu, fgpa) and evaluate the asics performance

- [ ] Fastest blake2s on CPU and GPU or other hash functions (maybe vdf based ones?)
- [ ] Evaluate timing/energy cost for blake2s on FPGA/ASICs
- [ ] How do we go about making Sloth faster? (extending Justin's competition?)
  - extend competition to

[2018-12-11 22:27] whyrusleeping opened #45 "What happens if all miners drop out?"
If we get ourselves into a situation where all miners get slashed, or there are very few miners and the last ones go offline, what happens?

[2018-12-12 19:08] whyrusleeping opened #46 "Early Sector Removal Notes"
# Fees for early sector removal
If a miner makes a deal with a client, stores the clients data in some sector, and then removes that sector before the agreed upon time, the miner should be punished.

This is complicated by the fact that we cannot put information about individual deals on-chain, as it presents a scaling problem.

The current way that miners remove sectors from the chain is by inclu

[2018-12-14 13:45] nicola opened #47 "FAULTS: Fault reporting protocols in Filecoin"
This is an epic to track spec/implementation work to track faults in Filecoin

[2018-12-21 21:41] whyrusleeping opened #49 "Secure Network Joining"
Nodes joining the filecoin network will need to determine what the ‘correct’ chain is. This can be difficult if there are a good number of adversarial nodes in the network. A newly joining node may connect to malicious nodes, be given other malicious nodes, and be given a bad chain. The new node needs a way to determine that these nodes are bad, and that the chain they are told about isn’t the can

[2018-12-31 19:44] ZenGround0 opened #50 "Weighting function precision"
If the weighting function (#61) maintains a fractional component when we decide on a final version how much precision is enough?  The code currently gives precision of 1/1000.  Right now we are waving our hands and saying this is good enough.  We should check in on this.  Previous discussion in https://github.com/filecoin-project/go-filecoin/issues/655 and discussion on current implementation in g

[2019-01-05 21:43] porcuquine opened #52 "PoSt challenge generation"
# Problem

Challenge-generation for PoSt is expensive in circuits.

HVHPoSt does the following `post_epochs` times:
- hashes the leaves of the current challenge set
- performs a VDF on this hash
- hashes the result
- derives a new set of challenges with a hash-per-challenge

This means that, in addition to verifying the VDF, we have to verify `post_epochs * (challenge_count + 2)` hashes in the cir

[2019-01-15 02:11] sternhenri opened #80 "What loss of entropy is safe?"
(cc @ZenGround0 @porcuquine)
As part of defining a security model for Filecoin and in determining an acceptable forking factor in EC, a question arises: how much entropy can we lose before Filecoin becomes insecure.
- For proofs?
- For leader election?

Specifically, we are looking at two sources for loss (though more are bound to come up):
- **Fork selection**: A miner may have a choice between m

[2019-01-16 11:19] dignifiedquire opened #53 "Avoiding forks and workarounds for known fixes for zkcrypto libraries"
Currently we rely on some functionality that is not in the released/merged repos of the zkcrypto libraries.

This is a tracking issue, such that we can work on getting these resolved and upstreamed if possible, to avoid maintaining a bunch of forks of these.

- Hashing into the Curve
  - Why? This is needed to make [filecoin-project/bls-signatures](https://github.com/filecoin-project/bls-signature

[2019-01-17 06:27] mhammersley opened #54 "PoSt construction"
Background:
[May 2019 plan](https://gist.github.com/nicola/48f41cdba7346433a01c263d8d7fc65d#file-proofs-plan-md)
[June 2019 plan](https://docs.google.com/document/d/184P9Uwips7ep6JwVsKWoICbwPu5TGnnl94h8bZh7sFI/edit#)

If it's possible that a PoSt without VDFs works, we'll do it (see the options in "Removing VDFs", below).

Options including VDFs are in "PoSt-VDF", below that.

- [Removing VDFs](ht

[2019-01-17 06:29] mhammersley opened #55 "PoSt Security proof"

[2019-01-17 06:31] mhammersley opened #56 "PoSt Difficulty Adjustment"

[2019-01-17 06:45] mhammersley opened #57 "Batch SNARK proofs (was sector aggregation)"
([ideas collected here](https://github.com/filecoin-project/specs/blob/master/notes/aggregating-sectors.md)) (research-weeks)

[2019-01-17 06:56] mhammersley opened #81 "Blocktime Difficulty Adjustment"
See https://docs.google.com/spreadsheets/d/1UZEaTWtcHZLYhJBsrUVUmngM2EivY8imdMNgh004rfA/edit#gid=0

[2019-01-19 00:23] #13 closed, assigned to nobody

[2019-01-19 00:37] #4 closed, assigned to nobody

[2019-01-20 22:00] bvohaska opened #61 "PoSt Committee: Proposal for PoSTs - New challenge methods & removing VDFs"
## Goals

1. Provide PoST with a reliable and verifiably-random challenge. This challenge must be verifiably random and uninfluenceable by some threshold of participants given by the security parameter `s`. i.e. a challenge can not be simulated or chosen by the miner generating the PoST or some threshold of miners who might collude with the PoST miner.

2. Provide PoST a mechanism with which to pr

[2019-01-21 15:30] whyrusleeping opened #62 "Sector Expiry"
Currently, miners can remove sectors from their proving set at the end of any PoSt (during submission). Since the data about deals is not stored on chain, any client who's data was removed before the deal expired may 'slash' the miner for that. This approach works well enough, as it keeps unnecessary data off chain. Unfortunately, this slashing does not scale well under certain cases, especially i

[2019-01-21 16:47] nicola opened #63 "PoSt Stamps: proposal for removing VDF"
# PoSt Stamps

![PoSt Office](https://images-na.ssl-images-amazon.com/images/I/818xk32SvAL._SX425_.jpg)

### Terrible Interactive PoSt

**Intuition:** A miner submits a PoSt proof at every block `i`, using the seed at block `i-1`.

**Problem:** The on-chain footprint is `192bytes * number of miners`, this is completely impractical.

**Next steps:** Can we avoid everyone submitting a proof at every

[2019-01-21 20:01] #42 closed, assigned to nobody

[2019-01-21 20:59] #67 closed, assigned to nobody

[2019-01-21 20:59] #68 closed, assigned to nobody

[2019-01-21 21:02] #71 closed, assigned to nicola

[2019-01-21 21:39] #73 closed, assigned to bvohaska

[2019-01-21 21:39] #74 closed, assigned to bvohaska

[2019-01-21 21:40] #76 closed, assigned to nobody

[2019-01-21 21:40] #77 closed, assigned to nicola

[2019-01-21 21:41] #78 closed, assigned to nobody

[2019-01-21 21:41] #79 closed, assigned to lucaniz

[2019-01-21 21:41] #80 closed, assigned to nicola, bvohaska, lucaniz

[2019-01-22 09:08] #32 closed, assigned to nicola

[2019-01-24 18:40] nicola opened #83 "Write tutorial on how to play the replication game"

[2019-01-25 21:22] bvohaska opened #84 "Document PoRep model"
Document how PoReps work (as of 25 Jan) and publish to research/research-notes. This document should be our canonical source of truth for PoRep within Filecoin Research.

-Suppose `m_i` has `SEAL`'d some data `DATA"
- How does `SEAL` work (from a theoretical view)?
- What construction was used to implement `SEAL`?
- What is the probability that `m_i` can produce a valid PoST given,
  - PoST is a f

[2019-01-27 00:50] #83 closed, assigned to nicola

[2019-01-28 20:04] mhammersley opened #85 "SEALSTACK Solutions"
Related to https://github.com/filecoin-project/research/issues/71

[2019-01-31 21:46] #33 closed, assigned to nicola

[2019-01-31 22:07] #7 closed, assigned to nobody

[2019-02-01 01:27] sternhenri opened #86 "Figuring out Readme formatting"
We need to get column widths to make sense in the open problems in the readme. But GH and html are not friends :(

[2019-02-04 19:21] #29 closed, assigned to nobody

[2019-02-05 16:05] sternhenri opened #87 "Complete Open Problems"
We need to finish detailing the list on (./open-problems.md)!

Assigning you @nicola, feel free to bring in help as needed!

[2019-02-11 19:44] bvohaska opened #88 "Possible Constructions for PoSt without VDF"
This is a epic that tracks any new efforts or research into challenge sampling for Proofs of Space-Time (PoST).

All research into or about challenge sampling should be captured here.

[2019-02-15 12:41] DonaldTsang opened #90 "In regards to hash bloat"
It should be established that only SHA2, SHA3, SHAKE, BLAKE2 and Skein (and KangarooTwelve/M14 in the future) instead of including every hash in https://github.com/multiformats/multicodec/blob/master/table.csv
Otherwise everything will be chaotic.

- SHA256 and SHA512 should be the default
- SHA3, SHAKE, KangarooTwelve and M14 will be used if SHA2 is ever broken
- BLAKE2 and Skein can be used as a

[2019-02-15 13:02] DonaldTsang opened #91 "Explaining PoRep and PoSt using comics"
From reading this https://filecoin.io/filecoin.pdf it would be a good idea to explain to the general public how PoRep and PoSt works (and other functions if possible) as an informative comic.
Example for other things: http://www.moserware.com/2009/09/stick-figure-guide-to-advanced.html
~ A person who would like to see Filecoin to expand in East Asia

[2019-02-22 17:28] porcuquine opened #92 "Better SNARKs"
Placeholder for top-level cryptolab project epic.

This epic is intended to group diverse efforts which could include (non-exhaustive):
 - GPU SNARKs
 - SNARK Aggregation (recursive composition or batch)
 - Implementation or integration of alternate proving systems or curves.

[2019-02-23 02:12] sternhenri commented on #90
Hi @DonaldTsang thanks for the super helpful feedback. This may be worth opening up as an issue in the Multiformats repo directly, given this is a bit removed from direct Filecoin research work.

I'll close this out for now, but happy to reopen if I've misunderstood something.

[2019-02-23 02:12] #90 closed

[2019-02-23 02:15] sternhenri commented on #91
+1! any thoughts on great artists who might be interested @DonaldTsang.

Also dropping a set of favorites here if you don't know them: https://wizardzines.com/

[2019-02-23 13:51] jsoares commented on #91
I love the idea, but can't help wonder how accessible one can make this.

There's one great comic artist I could ask: https://www.carlospedroart.com/

[2019-02-24 03:54] porcuquine opened #93 "passive vs aggressive PoSt challenges on fault"
This came up in conversation with @dignifiedquire last week, and I wanted to write it down for consideration during ongoing PoSt design.

How we handle challenges during faults has significant implications in terms of the expected value of dishonest mining. Consider two options for what happens when a challenged sector is lost:

1. The sector is reported as lost and becomes a fault. The challenge

[2019-02-28 16:28] lucaniz commented on #61
Progress on Committee sampling during research week in Madrid. We came up with a new method for sampling a seed in a committee. Writing up the new construction in the overleaf doc, next step is proving security

[2019-03-07 18:12] nicola opened #94 "POLLTIME: Evaluate the correct polling time for Proof of Spacetime"
Let's encode some data of size N with a DRG graph, commit to it and then remove 20% of the data.
We should be able to re-encode the missing part by performing `d` sequential steps. From the best known attacks `d` should be around 0.25N/32bytes nodes to encode.

If N=1gb, how long does it take to sequentially encode 250MB? This time is the upper bound of the polling time for PoSts, we should take a

[2019-03-11 18:29] nicola commented on #92
Can we use a more representative name for this issue or close if not useful?

[2019-03-11 18:42] nicola opened #95 "Speeding up Proof-of-Replication (via space-tradeoffs)"
### Background on PoRep
Proof of Replication is divided in two phases: an offline phase and an online phase.

During the offline (or setup) phase, the prover generates a slow encoding of the data and a proof that the encoding was performed correctly. During the online phase, the prover generates a proof that they are still storing the encoded data.

The speed of replication has both impact on secu

[2019-03-11 18:55] nicola opened #96 "Attacking Depth Robust Graphs"
The security of [Proof-of-Replication](https://eprint.iacr.org/2018/702.pdf) (as well as other Proof-of-Space schemes) relies on the best known attacks to Depth Robust Graphs.

The algorithm we are using for generating Depth Robust Graph is based off the `DRSample` algorithm described by [Alwen et. al](https://acmccs.github.io/papers/p1001-alwenA.pdf) and `BucketSample` by [Fisch et al.](https://w

[2019-03-11 20:55] porcuquine commented on #92
We can wordsmith further if you want, and can import from elsewhere where I know we have some of this gathered. If it already exists as a top-level issue, we can tag that with `cryptolab` and close this.

[2019-03-12 17:50] bvohaska opened #98 "Challenge sampling"
@whyrusleeping commented on [Tue Jun 19 2018](https://github.com/filecoin-project/aq/issues/98)

Where do we sample the randomness to seed our challenge from that we use to generate PoSTs?

My current mental model is that we use the hash of the smallest ticket in the tipset we are buiding a block on top of.

However, @jbenet says to sample it from 'far back' in the blockchain. The problem with sou

[2019-03-12 17:50] bvohaska opened #99 "Challenge sampling"
@whyrusleeping commented on [Tue Jun 19 2018](https://github.com/filecoin-project/aq/issues/98)

Where do we sample the randomness to seed our challenge from that we use to generate PoSTs?

My current mental model is that we use the hash of the smallest ticket in the tipset we are buiding a block on top of.

However, @jbenet says to sample it from 'far back' in the blockchain. The problem with sou

[2019-03-12 17:51] #99 closed

[2019-03-15 04:09] whyrusleeping commented on #63
You can't guarantee anything will be in 'every block' without hinging the blocks validity on it, and to do that, everyone would need to know who the miner of a given block is before they mine the block, which defeats the point of us having a secret election.

Other questions:

- Who will be an aggregator?
- Why will they be aggregators?
- How does the aggregator get their aggregated stuff into the

[2019-03-15 14:48] nicola commented on #43
This is now #94

[2019-03-15 14:48] #43 closed

[2019-03-18 06:02] schomatis opened #100 "PoRep: How do ZigZag graphs inherit the expansion property of bipartite expanders?"
Reading the "PoS analysis of ZigZag PoRep" section in the [Tight Proofs of Space and Replication](https://eprint.iacr.org/2018/702.pdf) paper, I see that it uses the expander graphs properties of section 2.7, for the proof of Lemma 6. Both of the explanations make sense on their own but I can't grasp the link between them. In contrast with the bipartite expander, the expansion edges of ZigZag have

[2019-03-19 17:59] nicola opened #101 "Using CommA instead of listing CommRs in PoSt"
Today PoSt takes as an input the list of sectors that the miner is proving.
We should:
- [ ] Define how many sectors in a single PoSt can be proven (or at least an upperbound)
- [ ] Determine if commA should be calculated by the full nodes or if there should be a proof proving that commA was calculated correctly
- [ ] Determine a protocol to generate commA

[2019-03-20 11:02] burdges commented on #53
We've almost exactly the same concerns for polkadot.  I'm currently using the branch https://github.com/burdges/pairing/tree/derives_borrows_etc0 which mostly adds some obvious functionality.

I started porting both my commits and the hashing-to-the-curve pull over to zcash's ff, group, etc. variant in https://github.com/burdges/pairing/tree/derives_borrows_etc0 but wondered off so now all outdate

[2019-03-20 11:17] burdges commented on #53
As for rand, I'm worried that cryptography folks dislike complexity and churn in their dependencies and especially random number dependencies, so heroic updates might take ages to up-stream.

Instead, we might bridge the rand 0.3/0.4 vs 0.6 fork by keeping the diffs small, even though that means ugly hacks like a local `Rand` trait.

That said, I think the ZCash Foundation recently hired Henry de

[2019-03-20 11:40] burdges commented on #53
Among the crates directly dependent on the pairing crate, I think only POA Network's threshold_crypto crate does not belong to ZCash, and it depends directly upon the ZCash version without hashing-to-the-curve:  https://github.com/poanetwork/threshold_crypto/blob/master/Cargo.toml

Anyone know if any of the forks have created separate crates yet?  https://github.com/zkcrypto/pairing/network/member

[2019-03-20 11:48] dignifiedquire commented on #53
fyi I recently ported the hashing to curve work onto the latest master of the pairing crate (post ff): https://github.com/filecoin-project/pairing/tree/hashing-master

[2019-03-20 16:01] porcuquine opened #102 "Investigate Sonic"
This is a placeholder issue for investigation into the Sonic proving system and its suitability for Filecoin. It exists so future work (underway) on this topic and any discussion can attach here.

[2019-03-20 23:14] burdges commented on #53
Very cool.  I'll check out what else I want on your branch.

In the longer run, I suppose this comment roughly explains lots about the bls12_381 situation: https://github.com/zkcrypto/jubjub/pull/19#issuecomment-475037318

[2019-03-21 20:33] nicola opened #103 "Captain log"
We are at week 21 of the year. The idea is to post the log of what is happening every week!

This is my first attempt about running this log - suggestions welcome

# Week 21 Updates

## :mortar_board: research log
- :mortar_board: (new) [#102](https://github.com/filecoin-project/research/issues/102) : Investigate Sonic
- :mortar_board: (new) [#101](https://github.com/filecoin-project/research/issu

[2019-03-21 20:40] porcuquine commented on #103
@nicola These links all go to json, which is not really conducive to reading. How are people meant to consume this?

[2019-03-21 20:43] nicola commented on #103
will update, sorry! 🤦‍♂️

[2019-03-22 19:14] nicola opened #104 "An attacker should not be able to precompute the KDF"
Current setting: a miner in order to encode a node X, must have all the parent nodes `Parent(X)=P_1...P_l`, `P_1` to `P_l` already encoded. Note that the last node that a miner encodes before `X` is `X-1 = P_l`!

Problem: An attacker can pre-compute parts of the hash `P_1...P_{l-1}` as they encode the graph and find `P_i`-s (except `P_l` since it's only generated just before encoding `X`), so that

[2019-03-22 19:25] nicola opened #105 "Evaluate fastest hardware for replication (or, fastest implemented hash function in stock hardware)"
**Context**: The security of Proof-of-Replication is determined by the ratio in `PoRep.Replicate` running time between an ideal fastest prover and the current best known implemented prover. The `PoRep.Replicate` algorithm is designed to be sequential and parallelization techniques should not help to perform a faster replication.

One of the slow components that determines the speed of `PoRep.Repli

[2019-03-22 20:16] porcuquine commented on #104
Doesn't incrementally building the hash require knowing which parents will be concatenated along the way? That part would require effectively manifesting large parts of the graph, I think. (I'm not addressing the possibility of precomputing something from each hash, just the part about incrementally computing the aggregate hash(es).)

[2019-03-22 21:43] schomatis commented on #104
My two cents (without being an expert on the matter but having been thinking about this when I first read the Rust implemenation of the KDF) is that as a general rule of thumb it's always healthy to prefix any hash function with a distinct identifier to make it unusable in any other context, so besides using the ID of the replica I think it should be also using the node ID.

That said I don't thin

[2019-03-23 07:23] nicola opened #106 "CHEAPOREP: Attack/feature: amortize the cost of hash computation when sealing"
The sealing step doesn't allow for parallelization of hash functions (this is because they are computed sequentially).

However, if one has a trick or hardware to amortize hash computations, then, their best strategy would be to run parallel sealings. This would allow to amortize the cost of sealing, but it wont break the sequentiality of the porep.

[2019-03-23 19:20] porcuquine commented on #104
I think you're onto something and that it could be corrected easily. Currently, we always sort the final parent set (ascending). As you note, we also pad with the first node (in the forward direction — the last in the backward direction).

On average, we expect`expansion_degree / 2` padding. So unless we happen (very unlikely!) to have a node with no padding (i.e. all candidate expanded parents we

[2019-03-23 20:00] nicola commented on #63
Some notes here after some conversation on different media:

**Main attack to the construction:**
PoSt Samp is useful to decrease the on-chain footprint for PoSt. However, the security of PoSt stamp depends on `Tpoll`, the time between two stamps. If `Tpoll` is ~10mins, every ~10mins every miner must have submitted their commitments to an aggregator and have their aggregated commitments appearing

[2019-03-23 20:12] nicola commented on #61
**Issues with this construction so far:**

Nodes must be paid or rewarded somehow (this can happen either through a payment or through power), this means that the list of elected committee must be reported on chain and for each there must be some form of status update. Considering ~20 users per committee every 10 mins, it would result in (20*6*24 = 2,880) 2800 state updates per miner per day..

**

[2019-03-23 20:14] nicola commented on #88
Update:
- I have written an update on PoSt Stamps here: https://github.com/filecoin-project/research/issues/63
- I have written an update on PoSt Committee here: https://github.com/filecoin-project/research/issues/61

[2019-03-23 20:14] #88 closed

[2019-03-23 20:26] nicola commented on #54
**Update on PoSt constructions**:

**Candidates**
Today we have three candidates:
- PoSt Stamps here: https://github.com/filecoin-project/research/issues/63
- PoSt Committee here: https://github.com/filecoin-project/research/issues/61
- PoSt VDF (interleaving online PoReps with VDFs)

**Assumptions**
They all share similar components, however they have different assumptions.
- PoSt Stamp assumes t

[2019-03-23 20:39] schomatis commented on #104
I agree with your comments about ordering, but just to clarify my analysis above (and I may have misunderstood the premise of this issue) doesn't concern about KDF computation times (I'm always assuming KDF could be instantaneous and that all the delay of the replication should rely on the VDE) but it's precomputation only as a way to avoid encoding other (parent) nodes (and hence avoid the delay

[2019-03-25 14:20] dignifiedquire commented on #105
I just checked and I don't have any cpu that supports the sha instruction set :/ aes is very well supported though.

[2019-03-26 09:39] dignifiedquire commented on #105
might or might not be relevant: http://www.jandrewrogers.com/2019/02/12/fast-perfect-hashing/

[2019-03-26 19:21] jsoares commented on #105
![hash](https://user-images.githubusercontent.com/547492/55026695-703de180-4ffb-11e9-905b-42914370976c.png)

The (synthetic) SHA throughput difference looks significant, especially considering the 8086K is otherwise faster than the Ryzen. Unfortunately my Ryzen system is sitting in a warehouse somewhere for the foreseeable future and won't be of much help.

[2019-03-26 19:40] whyrusleeping commented on #105
yeah, and we arent worried about throughput, but latency. most of these hashing benchmarks are “how long does it take to hash this big file” and not “how long does it take to run 100000 sequential hashes?"
On Mar 26, 2019, 12:30 PM -0700, Jorge Soares <notifications@github.com>, wrote:

[2019-03-26 20:42] mhammersley commented on #54
@nicola this is thrilling! are you planning on making those clarifications anytime soon, or would you like any assistance from @bvohaska and/or @lucaniz in fleshing it out? (or wait on the cryptoecon analysis?)

[2019-03-27 21:42] burdges commented on #53
You just directly ported the Fouque-Tibouchi implementation by @mmaker right?  Any idea if you caught the commits that Sean Bowe added to https://github.com/mmaker/pairing/commits/master perhaps?

I'm tempted to fix https://github.com/zkcrypto/pairing/issues/101 too but doing so makes merging hard.

[2019-03-27 21:53] dignifiedquire commented on #53
I pulled in everything that I found in the PR including the updates from sean.
I did chage the hashing lib though to use the faster blake2b_simd crate though.
On 27. Mar 2019, 22:42 +0100, Jeff Burdges <notifications@github.com>, wrote:

[2019-03-27 21:55] dignifiedquire commented on #53
I am happy to fix that issue on our fork, if you want to PR sth. I remember needing to work around the issue in the bls-signature impl.

[2019-03-28 15:17] bvohaska commented on #61
@nicola: good point. One if the things we've been exploring is letting a committee vote on more than one challenge and reduce the number of updates.

A small technical point, all updates happen at the end of the protocol and only once. So while there are quite a few state updates they happen only at the end of the protocol. This immediately spawns the question: "Then how do I get rewarded with Pow

[2019-03-28 15:26] bvohaska commented on #61
For updates, @lucaniz, I, at al. were recently inspired to explore new threshold schemes that (1) don't need to particularly scalable beyond 30 participants. We're pretty excited about this.

[2019-04-01 14:10] nicola commented on #61
I don't have clear how your solution (1 and 2) and threshold schemes that can scale beyond 30 participants can solve the problem of having to pay/update power table for thousand of users

[2019-04-02 14:15] bvohaska commented on #61
@nicola: In short, we are trying to reduce the number of participants needed to make such a committee protocol work. In (1), we are making assumptions about the implementation for practicality. In (2), we are making assumptions about security for practicality.

(1) Shrink the number of times an update is needed (but not the total amount of updates). This assumes that it is easier and faster to bat

[2019-04-02 17:22] nicola opened #107 "Speeding up computation of Pedersen hashes"
We use the [JubJub Pedersen hash](https://z.cash/technology/jubjub/) to generate the Merkle trees in Filecoin. The computation of these hashes is slow and CPU-intensive (~200 times slower than blake2s). Reducing the cost of computing Pedersen hashes will reduce the operating costs of mining in Filecoin. Are there cost effective ways to speed up Pedersen hash computation?

The output of this work a

[2019-04-02 17:39] dignifiedquire commented on #107
One possibility is applying the strategy described here https://doc-internal.dalek.rs/curve25519_dalek/backend/avx2/index.html to JubJub

[2019-04-03 10:37] nicola opened #108 "Verify VDF/RSA Vector Commitments in a SNARK"
In PoSt, we are planning to use VDF from Wesolowski. As per VDF-Post construction the idea is to hash the output of the VDF and use this as input to the online Proof-of-Replication.

Today we are using SNARKs to verify the online proofs, the strategy to verify the VDF computation is the following:

- Strategy 1: Verify VDF (or batched VDF in the circuit)
  - See [C0C0](https://eprint.iacr.org/2015

[2019-04-03 14:05] nicola opened #109 "Finding hash function for KDF with the smallest Amax and hardware cost"
**Context**: The security of Proof-of-Replication is determined by the ratio in `PoRep.Replicate` running time between an ideal fastest prover and the current best known implemented prover. The `PoRep.Replicate` algorithm is designed to be sequential and parallelization techniques should not help to perform a faster replication.

One of the slow components that determines the speed of `PoRep.Repli

[2019-04-03 14:13] nicola commented on #109
Merging this one into #105 105

[2019-04-03 14:13] #109 closed

[2019-04-04 18:15] porcuquine opened #110 "SSLE with multi-party shuffling"
SHUFFLE-UPAGUS is an idea to use secure multi-party shuffling to implement Secret Single Leader Election (SSLE). The method relies on secure multi-party shuffling (MPS) as described in [MSZ15]. Whether this is viable or not depends on whether we can live with its performance implications. From the abstract: 'In particular, we require each party to send only a
polylogarithmic number of bits and per

[2019-04-11 20:22] porcuquine commented on #54
A preponderance of researchers requested that I add a comment noting that PoRep includes a VDE (Sloth). We wanted to track possible shared dependencies support for that (or some) VDE and any VDF work that gets done, and this comment serves as a stub for that tracking.

[2019-04-11 21:48] mhammersley commented on #54
Note that, whether or not PoSt ends up requiring one, EC is likely to require a VDF (probably a construction fairly similar to PoSt, but quite different from PoRep).

[2019-04-15 13:20] dignifiedquire commented on #53
It seems that the current work is now happening on https://github.com/zcash/librustzcash

[2019-04-15 17:17] burdges commented on #53
Yup. I pushed a bls crate with fairly flexible aggregation at https://github.com/w3f/bls btw.

[2019-04-17 14:21] burdges commented on #53
I think https://github.com/zkcrypto/pairing/pull/102 is the start of improving the hashing-to-the-curve

[2019-04-17 22:40] mhammersley commented on #25
per spec review conversation on Apr 2, this is now closed and key-todo label should be removed

[2019-04-17 22:40] #25 closed

[2019-04-17 22:42] mhammersley commented on #46
Per spec review conversation Apr 2, this is closed

[2019-04-17 22:42] #46 closed

[2019-04-23 07:37] burdges commented on #53
Just noticed https://eprint.iacr.org/2019/403.pdf but the introuctiond makes it sounds much like Michele Orru's existing implementation.

[2019-04-25 07:24] #49 closed

[2019-04-25 07:24] #9 closed

[2019-04-26 10:17] afck commented on #53
I know that at least the [POA](https://github.com/poanetwork) and [MaidSafe](https://github.com/MaidSafe) projects are also very interested in collaborating on a pairing fork.

If you're open to it, I'd move my serde PR to [filecoin-project/pairing](https://github.com/filecoin-project/pairing), too.
It would also make sense to enable GitHub issues there. And I guess we'd eventually want to publish

[2019-04-26 12:35] burdges commented on #53
Sure.  We want to merge everything back into zcash's crates eventually, but a coherent fork likely simplifies this, and no reason to rush them while they're doing their big refactor.

As an aside, I think https://github.com/zkcrypto/bls12_381 is the start of making the zcash crates constant-time, so maybe Sean would accept pulls there if anyone has the urge to help, not sure.

[2019-04-26 22:48] dignifiedquire commented on #53
Happy to take a look

fully agreed

[2019-04-30 09:35] afck commented on #53
I created a PR for serde: https://github.com/filecoin-project/pairing/pull/2

How do you all feel about operator overloading? (See https://github.com/zkcrypto/pairing/issues/85.)

[2019-04-30 10:39] burdges commented on #53
I think Sean Bowe felt uncomfortable with operator overloading previously, but his experimental bls12-381 crate for constant-time code uses operator overloading for field arithmetic, so maybe his opinions changed.  I'd favor being cautious here and sticking with whatever he does.

[2019-05-01 19:37] str4d commented on #53
Re: the rand crate update, I plan to do this in pairing (or rather, across all our crates via the librustzcash workspace) in the next month or so. I'm hoping we might even be able to reduce the dependency tree further down from the main `rand` crate to just what we need to target a CSPRNG or OsRng, but I'm not sure whether that's doable yet in 0.6, or whether we'd need to wait for 0.7 to do that.

[2019-05-06 14:59] gnunicorn commented on #12
Adding, chain-related practical issues

(from all I understood, there is no guaranteed finality in filecoin at the moment, so the following scenario is possible)

- dropping stored data because it is on an orphaned chain that - according to the miners local view of the chain - is less likely to be chosen as better, but then actually becomes main-line again but they can't recover the data and thus

[2019-05-06 16:51] sternhenri commented on #12
These are great thoughts @gnunicorn. Some thoughts on them (I'll number them in order to make referencing easier):

1 and 2 seem to me related to [Proof-of-Storage hardness](https://github.com/filecoin-project/consensus/issues/30). Specifically, so long as the forks are on the subbranches of a same SEAL, you should be able to reuse your PoSTs with relatively little pain (so you wouldn't just drop

[2019-05-07 06:56] duyuefeng0708 opened #112 "Cannot link to observable in calculator.md"
All the performance estimation within the [calculator](https://github.com/filecoin-project/research/blob/master/calculators.md) cannot be accessed

[2019-05-15 10:17] sternhenri commented on #112
@whyrusleeping may be able to tell you more there. I believe they will be opened in time, and so that is alas normal for now.

[2019-05-16 10:20] sternhenri opened #113 "Does our current state machine update model risk causing issues when smart contract execution environments are developed?"
Specifically I have been thinking about the way in which transactions are applied to machine state: where on conflict we just drop the second (or conflicting) tx.

This seems like in time it could get a bit hairy with regards to the requirements it imposes on our VM execution layer. Or am I wrong?

[2019-05-16 14:19] whyrusleeping commented on #113
I don't see what the problem could be. as long as we have a deterministic way of applying everything.

One related problem that tipsets cause that I don't have a solid answer to yet is that those messages that do execute differently wont have easily referenceable receipts. So for light clients that just want a merkleproof to verify a message executed successfully, in the case of a tipset, this bec

[2019-05-23 10:46] nicola commented on #61
@lucaniz, @bvohaska I guess there is a lot of write up on this, how far are we to put the PDF up online and close this issue?

[2019-05-23 10:57] nicola opened #115 "POSTSURPRISE: a new proposal for removing VDF from Proof of Spacetime"
@arielgabizon proposed a new construction for removing VDF.

**Intuition**

- A prover runs proof of replication and posts the commitment and the proof on chain.
- From now on, the prover can be challenged any time by the verifier in a range of time (from now to `X` days); when challenged, it has to reply in `Y` time (where `Y` is the polling time).

Since the prover won't know when they will be c

[2019-05-23 10:59] nicola commented on #3
closing this one and continuing here https://github.com/filecoin-project/research/issues/54

[2019-05-23 10:59] #3 closed

[2019-05-23 11:01] nicola commented on #54
added a new intuition for removing VDFs: https://github.com/filecoin-project/research/issues/115

[2019-05-23 11:14] lucaniz commented on #54
There is also a "second version of post committee that could help in removing VDFs

The idea is the following: instead of using a committee for proposing a seed for  a single prover, we can use a committee for validating a global seed for a single prover. Seed can be the output of the beacon and that seed is validated if at least a threshold T of committee members sign the seed itself (after check

[2019-05-23 14:55] nicola opened #116 "Evaluate trade-off for using blake2s and pedersen for different layers in ZigZag"
**Intuition:**
According to claim 6 in the "Tight Proof of Space and Replication" from Ben Fisch, the top layers require more nodes to be challenged. This means that in the SNARK majority of the constraints come from the top layers, hence it might make sense to use a hash function that is SNARK-friendly.

However, since Pedersen hashes (the most probable SNARK-friendly candidate) is very slow (hen

[2019-05-23 15:00] nicola opened #117 "Make Proofs meet Scaling, Cost and Security requirements"
Background: https://github.com/filecoin-project/research/issues/10

This set of work involves:
- Listing possible optimizations (see here: https://github.com/filecoin-project/rust-fil-proofs/issues/160)
- Gathering requirements in a doc (could be the ubercalc that we are building or a spec document)

With the final goal of producing a set of parameters and details for the final construction for pr

[2019-05-23 15:00] nicola commented on #10
replaced by: https://github.com/filecoin-project/research/issues/117

[2019-05-23 15:00] #10 closed

[2019-05-23 16:41] porcuquine commented on #92
No longer needed.

[2019-05-23 16:41] #92 closed

[2019-05-23 18:21] nicola opened #118 "TINYLAMBDA: Can we have non-interactive PoRep with small lambda?"
As of last week we did discover a grinding attack in non-interactive PoRep.

The issue is the following: a storage provider can encode the original data, then hash and perform fiat-shamir. However, since a provider is allowed `\delta` badly labeled nodes (and `\epsilon` missing nodes), then they have `\delta+\epsilon` percentage of the data to grind.

This is not a concern if the Proof of Replicat

[2019-05-24 17:11] nicola opened #119 "Implement RSA-based Vector Commitments"
A Vector Commitment (VC) is a *position binding* commitment and can be opened at any position to a unique value with a short proof (sublinear in the length of the vector).  The Merkle tree is a VC with logarithmic size openings.

Recent work on RSA-based VC ([Boneh et al. 2019](https://eprint.iacr.org/2018/1188.pdf)) allows for constant size openings as well as aggregatable proofs, which makes it

[2019-05-27 18:06] bvohaska commented on #61
@nicola hoping to have something published internally by Friday. Publish externally a week or two later to allow for comments.

[2019-05-28 12:24] nicola opened #120 "HYBRID2: Different hash function per layer of Merkle Tree and different merkle trees per layer of ZigZag"
The intuition is the following:
- Different layers have different number of challenges, hence some layers require more circuit constraints than others
- Different layers of the merkle tree have different number of nodes, we could choose a hash function per different layer based on: the number of nodes (the more the nodes in a layer the more likely we should use a fast hash function) and the number

[2019-05-28 13:56] DrPeterVanNostrand commented on #120
Relates to [Issue #666](https://github.com/filecoin-project/rust-fil-proofs/issues/666) in `rust-fil-proofs`

[2019-05-28 18:46] whyrusleeping commented on #115
I like this, one potential construction could look like:

- For each block:
  - For each miner:
    - hash the ticket and the miner ID into some range, check if that value is less than some target value.
    - if H(ticket..minerID) < Target, that miner must submit a PoSt seeded from that ticket within X blocks

Since anyone can check this for any miner, we can enforce this via slashing. A slasher

[2019-06-04 21:53] nicola commented on #118
Note for the reader: running offline PoRep requires the miner to store the multiple layers until they submit the proof (note that they could always be decoding their data into the zigzag layers if they have enough parallelization and they are willing to take the cost of doing so)

[2019-06-06 00:12] sternhenri commented on #113
yeah, sorry this is the sort of vague wonderment I have. Likewise "as long as we have a deterministic way of applying everything" seems to imply (?) we have consistent commit order or commutativity. I guess my question is "in what ways are we forcing future design choices here, or how might we weaken these to give our future selves a bit more leash?"

I realize this is super vague.

[2019-06-06 11:59] dignifiedquire commented on #52
Started speccing this out here: https://github.com/filecoin-project/specs/blob/update-post/drafts/proof-of-spacetime.md

[2019-06-06 17:13] nicola commented on #57
We have a way to aggregate SNARK proofs. Current work can be used to aggregate multiple partition of a single proof and multiple proofs.

[2019-06-06 17:13] #57 closed

[2019-06-07 19:31] nicola commented on #95
relevant: https://github.com/filecoin-project/research/issues/105

[2019-06-12 17:17] whyrusleeping opened #121 "Enumerate all system parameters and considerations for each"
For each parameter we have to pick a number for, we should have a document that describes the parameter, what it affects, and what attacks we are protecting against in picking a 'correct' value (aka, what could go wrong if we pick the wrong value)

[2019-06-13 03:58] porcuquine commented on #121
Let's do this in a principled way and ensure that:
- each such document has a stable URI
- each such parameter has a name which eventually corresponds exactly to a relevant übercalc parameter
- supporting document URIs are referenced directly in übercalc

Based on discussion with @sternhenri, he may choose to use Observable calculators as document. If the above are followed, this could help establ

[2019-06-15 01:52] sternhenri commented on #121
https://observablehq.com/d/584e52885d91ae84

Using this for now for my calculators

[2019-06-20 16:12] nicola commented on #1
hey @whyrusleeping we believe there are no more research open issues in here and I am seeing a set of issues on signatures, if specs is covering this elsewhere, please close this issue (and link).

[2019-06-20 16:14] nicola commented on #34
To move forward on this one:
- Do proofs (@nicola) need randomness from the chain?
- Does consensus need randomness from the chain? (@sternhenri can you update on your needs on this?)

[2019-06-20 16:16] nicola commented on #54
Needs update with the current state of progress (@nicola and @nikkolasg notes from IC3 and other notes).

So far the spec describes BeaconPost, but it does not define how to use the VDF.

[2019-06-20 16:20] nicola commented on #94
There are several approaches that we are taking to move on with this one:
- We made a calculatore which predicts time to generate a [replication](https://observablehq.com/d/bbabac1947b79011)
- We are currently collaborating with external groups (still open to more collaborators) to evaluate fastest hardware for replication https://github.com/filecoin-project/research/issues/105

[2019-06-20 16:24] nicola commented on #101
Note: since we have a way to aggregate SNARK proofs, @porcuquine and I figured out a simple way to get a large amount of sectors being proven in a PoSt (which also supports well Multi-Sector Size).

[2019-06-20 16:26] nicola commented on #104
Short term resolution: every hash should be prefixed with the latest encoded node (hashed nodes are in descending order).

[2019-06-20 16:31] nicola commented on #117
- Short term: Write in a single doc (or calculator)
  - Review existing requirements for scaling: we should fix the max number of miners and the max on-chain proof size for PoRep and PoSt.
  - Review existing requirements for cost: we should fix a cost for mining Filecoin (fixed and variable).
  - Blocked on: rational & security requirement need to be written down

[2019-06-20 16:36] nicola commented on #20
@sternhenri 	should we close this? is this reflected elsewhere?

[2019-06-20 16:37] nicola commented on #117
Link (or merge) this one: https://github.com/filecoin-project/research/issues/121

[2019-06-20 16:39] mhammersley commented on #120
(@DrPeterVanNostrand we think you're working on this -- let us know if you're not, actually)

[2019-06-20 16:41] nicola commented on #116
now: https://github.com/filecoin-project/research/issues/120

[2019-06-20 16:41] #116 closed

[2019-06-20 16:48] #102 closed

[2019-06-20 16:48] #103 closed

[2019-06-20 16:50] nicola commented on #11
Write into the spec what are the parameters and generation of our DRG graph. (Assigning @porcuquine for now, he will proxy to the right person)

[2019-06-20 16:50] nicola commented on #28
see #56

[2019-06-20 16:50] #28 closed

[2019-06-20 16:51] nicola commented on #24
@porcuquine 	can you close this with links to the spec?

[2019-06-20 16:51] nicola commented on #6
Any next steps on this one @bvohaska ?

[2019-06-20 17:12] sternhenri commented on #20
It's a set of params @whyrusleeping and I are well aware of but I'm not sure it's explicitely defined elsewhere. Let me close it as soon as done defining the params!

[2019-06-20 17:16] sternhenri commented on #34
- On consensus, yes we do. Specifically having the randomness "tied" to the chain (through ticket-chain being stapled to blocks) allows us to ensure ticket creation and election proofs are not reusable across chains. This is useful to preventing long range attacks (posterior corruption) and helps mitigate Nothing at Stake.

Happy to help evaluate alternatives, but it does have a purpose for us atm

[2019-06-20 18:31] sternhenri commented on #34
I'll add that we could do without it (esp if it allows us to make stronger claims about unbiasability of the seed), but it's not costless.

[2019-06-21 06:23] porcuquine commented on #24
A concrete proposal for Multiple Sector Sizes has been accepted and implemented: https://github.com/filecoin-project/specs/issues/175

[2019-06-21 06:23] #24 closed

[2019-06-21 14:14] bvohaska commented on #6
@nicola, @sternhenri: I don't think this attack will be a problem given the current state of the protocol. Let's be mindful to catalog this attack and consider it in the future. No further action needed.

[2019-06-21 14:14] #6 closed

[2019-06-21 20:34] mhammersley opened #123 "RATIONALCALC: Evaluating Rationality arguments of Rational-PoSt"
Analysis of completeness:
- If a miner stores a replica through time, is it rational for other nodes to include their Proof of Spacetime on chain?
- Provide a calculator/proof that describes that answer the above question

Analysis of soundness:
- Is it rational for a miner to not store replicas through time and perform regeneration attack?
- Provide a calculator that describes rationality of the

[2019-06-21 20:40] mhammersley opened #124 "Post-VDF with linear size proofs"
VDF with Inputs/outputs (Linear PoSt size) (support < 10 vdf) (@nicola, @nikkolasg?)

[2019-06-21 20:42] mhammersley opened #125 "VDF commit and prove"
(Succinct PoSt size) (support > 10 vdf) (luca, dario, matteo (imdea))
Starting date: July 1st, Expected: Aug 15th - Sept 15th
If no final construction by August (3-4 weeks of continuous work), luca may move on to something else; Check if we need to kill it

[2019-06-21 20:56] mhammersley opened #126 "SPEDERSEN: Make PoRep VC faster by speeding Pedersen"
(faster-porep-vc) (@DrPeterVanNostrand , @arielgabizon , @porcuquine)
Start: no later than 1 July
End: by end of Research Retreat

[2019-06-21 21:20] mhammersley opened #127 "Make PoRep VC/SNARKs faster by using different hash functions Poseidon/MIMC"
Poseidon/MIMC (it’s a new snark-friendly hash function)

[2019-06-21 21:22] mhammersley opened #128 "GPUSNARK: Make PoRep SNARK faster with GPU Snark"
This work is currently in progress, updates will be posted here

[2019-06-21 21:24] mhammersley opened #129 "SPACEGAP: Make PoRep SNARK faster by increasing the spacegap"
What should the spacegap be for the proofs to be practical to generate

[2019-06-21 21:25] mhammersley opened #130 "Speed up PoRep VC generation and proof generation"
Creating a PoRep epic.

## Speed up VC
 - Make PoRep VC faster by speeding Pedersen (SPEDERSEN) (https://github.com/filecoin-project/research/issues/127)
 - Make PoRep VC/SNARKs faster by using different hash functions Poseidon/MIMC (https://github.com/filecoin-project/research/issues/127)
- Zigzag-Hybrid: Different hash function per layer of Merkle Tree and different merkle trees per layer of Zig

[2019-06-21 21:27] mhammersley opened #131 "NEWVC: Make PoRep circuit smaller with new Vector Commitments"
(faster-porep-snark) Have different Vector Commitment
[ ] TwoLayerKate (rosario, luca, ariel, nicola)
Possible idea: Find team to work on this
[ ] RSA VC (drop for Filecoin v1, luca, matteo, dario, nicola (imdea))
[ ] New Vector (rosario, luca, ariel, irene)
SHARK-like group commitments?

[2019-06-22 12:40] burdges commented on #53
There is an attempt at https://github.com/pairingwg/bls_standard/issues to standardize BLS signatures with the two most pertinent discussions being https://github.com/w3f/bls/issues/5 and https://github.com/zkcrypto/pairing/issues/56#issuecomment-501939399

[2019-06-24 21:45] mhammersley commented on #52
Linking challenge sampling and seed biasing considerations to this issue

[2019-06-24 21:55] mhammersley opened #132 "Aggregating Sonic Proofs"
sounds similar in spirit to TwoLayerKate

[2019-06-30 23:11] DrPeterVanNostrand commented on #120
@mhammersley yup, I'm working on it

[2019-07-09 09:48] nikkolasg commented on #115
I've written a summary of what we discussed during Barcelona on post surprise: https://github.com/filecoin-project/research-private/blob/master/notes/post_surprise.md

@whyrusleeping one major issue is indeed how to get the random challenges. You propose here using a hash function to create a sort of a probabilistic lottery. But from what I see, there's no absolute guarantee that a given prover *w

[2019-07-09 10:01] nikkolasg commented on #54
Updated the [post surprise ticket](https://github.com/filecoin-project/research/issues/115) with my notes

[2019-07-13 00:13] porcuquine opened #133 "XOR instead of Sloth? (with some digressions on Blake2s)"
# Replacing Sloth with XOR

This issue is to discuss the possibility of replacing XOR with Sloth and to outline considerations.

## Background

Although we originally implemented encoding (during replication) using a tunable VDE, we have moved to using zero iterations for performance reasons (both inside and outside of circuits). This means that in practice we use a single group addition to encode

[2019-07-13 09:45] dignifiedquire commented on #133
we do this discarding outside of the circuit in the conversions as well: https://github.com/filecoin-project/rust-fil-proofs/blob/master/storage-proofs/src/hasher/blake2s.rs#L195

[2019-07-13 12:59] nicola commented on #133
My bet is that doing a bit-wise XOR will be equivalent in constraints than doing the packing.

[2019-07-13 15:59] porcuquine commented on #133
@dignifiedquire Got it, thanks. I was looking in the wrong place. I guess it's fine to truncate the hash output.

Does anyone disagree that we *cannot* truncate the input, though, which means (I think) that the leaves would have to be hashed specially (larger input) and would either require an extra `Fr` input or else we would have to try to efficiently pack N leaves into N+m `Fr`?

[2019-07-13 16:28] porcuquine commented on #133
@nicola What packing are you talking about? Which constraints do you think we will save by using XOR? (I have a guess below.)

It seems to me that currently, the encoding check requires:
- One constraint to prove the data encoding.
- One constraint to prove that the encoding is equal to the replica. Replica, data, and encoding are all `Fr`.

It seems to me that if we use XOR, the encoding will req

[2019-07-13 16:32] porcuquine commented on #133
Also note that if we do use longer (untruncated) leaves, then our merkle paths become non-uniform. That is, the first element will also need to be longer; and we will need to special-case the first swap-and-hash in the PoR circuit (to handle two `Fr` rather than one).

[2019-07-13 21:08] nicola commented on #133
the output of the hash function will be bits, so you could use them directly, no need to do packing (if we do binary XOR), hence both the packing and the XOR will be about the same number of constraints.

[2019-07-13 21:11] porcuquine commented on #133
So you are talking about 2. in my list above (KDF), right? That's what I thought.

Do you believe we would be able to avoid the other three sets of constraints? If so, how? If not, does this not seem expensive to you?

[2019-07-15 14:36] nicola opened #134 "Investigate on DRSample+BRG"
We should investigate if the attacks on DRSample from [CRYPTO2019](https://eprint.iacr.org/2018/944.pdf) apply to our construction

[2019-07-15 15:10] nicola opened #135 "PoSt proof without committing to faults before receiving the challenge"
Strategy 1: Miners report faults before the POST_CHALLENGE_TIME
- Issues:
  - Miners need to submit faults on chain before the challenge time
  - If miners have faults after POST_CHALLENGE_TIME, then they miss the proving period

Strategy 2: Miners report faults after POST_CHALLENGE_TIME: if a faulty sector is challenged, then it's reported and a new sector is generated
- Issues:
  - A lot of sect

[2019-07-15 15:13] nicola commented on #115
@nikkolasg if we set it so that there is on expectation one challenge every two days, on average there is one challenge every two days, in the unlikely scenario where this is the case, we can "force" them to be challenged exactly at the end of the two days.

[2019-07-15 20:48] nikkolasg commented on #115
I spent some time today to get some real numbers by modeling the event of having a winning block as a binomial distribution. Since we assume the input to the hash function is random due to the ticket being random (because it uses a VRF), we can say that each event is independent. Ideally, we would like to set the pr. of having a winning block during a two day period to 1 / 2880 (there are 2880 blo

[2019-07-16 00:02] nicola commented on #133
I did not spend much time into this, your analysis seems correct.
I did miss the first one and the last one, which are pretty annoying.

[2019-07-16 17:38] porcuquine commented on #133
@arielgabizon [My comment above](https://github.com/filecoin-project/research/issues/133#issuecomment-511135353) contains the analysis of constraint costs if we move to XOR for encoding.

Can you confirm or reject the conclusion that this implies that making this change would increase our constraints and help quantify the increase (if there is one)?

[2019-07-17 17:00] arielgabizon commented on #133
@porcuquine : Regarding dropping two bits in the multi-packing method. It's fine assuming blake-2 is collision resistant also when truncated to 254 first bits.
(I confirmed that's what's happening as `Fr::CAPACITY` is indeed defined to 254 https://github.com/zkcrypto/pairing/blob/183a64b08e9dc7067f78624ec161371f1829623e/src/bls12_381/fr.rs#L950)

Those first 254 bits are then mapped uniquely to an

[2019-07-17 19:11] schomatis opened #136 "Extending the DRSample algorithm to bigger in-degrees"
[Fisch et al.](https://web.stanford.edu/~bfisch/porep_short.pdf) use the `DRSample` algorithm from [Alwen et al.](https://acmccs.github.io/papers/p1001-alwenA.pdf) (renamed as `BucketSample`) originally intended to generate one parent per node (besides the edge from the immediately preceding node) and extends it to be used for a general in-degree `m` (section 4.1).

This extension (`BucketSample[n

[2019-07-17 19:11] schomatis commented on #136
/cc @nicola (and maybe @porcuquine for awareness, but feel free to skip the details for now)

[2019-07-18 08:51] nicola commented on #136
It seems to me from first glance that this is only a concern for small sizes (but still true for the first few buckets).

Is there any alternative algorithm that would go around the issue that you mention?

[2019-07-18 08:53] nicola commented on #133
I can consider this issue closed for now.

[2019-07-18 11:09] arielgabizon commented on #133
Yes seems pretty clear moving to XOR would add 256 constraints

[2019-07-18 11:39] schomatis commented on #136
Yes, the other issue I didn't expand on in the previous example was using `m` values that were not power of two (like our `m=5`) which may create some asymmetries landing some nodes in the wrong bucket, that would hold for any N but still seems as something not critical.

Yes, just running the original `DRSample` `m` different times with the original nodes, but we should check the proof in [Alwen

[2019-07-18 15:55] irenegia opened #137 "POREPANALYSIS: Tight PoS and PoRep analysis"
Learning and checking all details in the security analysis of the Stacked-DRGs PoD and the ZigZag PoRep.

See these google docs: [[1]](https://docs.google.com/document/d/1qEubjI_ytOWDW_X9UeN-SbfqyFkqF-swHff8FcgTM_E/edit?usp=sharing), [[2]](https://docs.google.com/document/d/1LaLlS9W5X0bWS2pYKQe1-aQcNjRajMQUsn3IRFDcwwc/edit)

[2019-07-18 17:39] nikkolasg commented on #115
Linking with #137 since I need to understand what we're dealing with to derive a proper period.

[2019-07-18 18:41] Kubuxu commented on #115
There could also be a bias added to increase the probability of selection for submitting the proof, as in: `H(ticket..minerID)  < Target * bias(lastProof)`. The `bias` function then can be tweaked to limit both the 10% shortest and the 10% longest intervals between submissions.

[2019-07-18 21:11] schomatis commented on #136
It seems I missed the proof in the paper, see `“Metagraph” construction` and the `Lemma 1`, will take a closer look later but seems safe to close this issue for now.

[2019-07-18 21:11] #136 closed

[2019-07-25 11:21] nicola opened #138 "DRGATTACKS: Implementing DRG attacks and gain confidence for the parameters of our DRG"
This issue tracks the implementation effort of DRG attacks.

Background: https://github.com/filecoin-project/research/issues/96

[2019-07-25 11:25] nicola opened #139 "Run DRG attacks on the ZigZag graph"
We know how the attacks perform on a single DRG, we should input the ZigZag graph (made of zigzag and expander graphs).

[2019-07-25 11:31] nicola commented on #138
Attacks that we need to implement:
- Depth Reducing Set Layered
- Depth Reducing Valiant
- Depth Reducing Valiant Lazy

(these according to the ABH17)

[2019-07-26 09:30] irenegiacomelli commented on #118
[Link] (https://docs.google.com/document/d/1wsF4IhHmi1QRqPmqfny7tc-4OOhaRDZ-l4I3VjANufE/edit) to the progress done during the Research Week in London

[2019-07-29 12:45] nicola opened #141 "AMORTIZEDTREES: Amortizing Merkle Tree inclusion proofs and Merkle Tree generation"
**Setting:**
- We have several vectors (and we cryptographically commit to each vector - e.g. with Merkle Trees)
- We open a large set of random indices for each vectors

**Idea:**
If the indices to be opened are the same across vectors, then, instead of committing to multiple vectors, we can commit to a single vector of tuples (every leaf is now a vector of all the values at that leaf position ac

[2019-07-30 08:06] nicola commented on #138
Most of the algorithms of the attack are described in: https://eprint.iacr.org/2018/944.pdf

[2019-07-30 08:37] irenegiacomelli commented on #141
Regarding using the same challenges across ZigZag layers:
if the challenges are chosen after the commitment for *all layers* are done, we can have the same exact soundness formula computation we have now.
That is, we consider two cases:
1) The cheating prover did a replica where in each layer there are ≤ \delta n errors. Then in the online phase,  if the prover deletes more than \epsilon n, then h

[2019-07-30 16:41] nikkolasg commented on #138
The attacks  highlighted in [ABH17](https://acmccs.github.io/papers/p1001-alwenA.pdf) , [BH19](https://eprint.iacr.org/2018/944.pdf) and [AB](https://eprint.iacr.org/2016/115.pdf) experimentally guarantee the following:

One important point is that these attacks does NOT guarantee that G-S contains *many* points of such length. Intuitively,it feels we would need such a stronger guarantee though. O

[2019-07-31 11:06] nikkolasg commented on #115
**Strategy `H(...) < threshold`**:
After more discussion with @nicola , it seems
1. it is not a big deal that a node doesn't get challenged in the given period, since it can submit its proof at the end of the period in that case,
2. It is ok for a node to be challenged multiple times during the period and he has to reply to all challenges (has to be "on the hooks"!)

 So using this strategy, with

[2019-07-31 12:07] nikkolasg commented on #115
For the sake of completeness let me expose another idea:
**Strategy Permutation**: Another idea I discussed with @nicola was to use a deterministic permutation of the provers at each block and make sure each prover gets challenged exactly once in a given period.
Let's call `B` the number of blocks during the period. As well we assume we have a fixed list of proofs-to-challenge C for the given peri

[2019-08-01 10:32] nikkolasg commented on #138
After discussion with @irenegiacomelli it's enough that we have at least one long path indeed because of the expander graphs: From a given node at the last layer, when we follow its dependencies to higher layers, because of the expansion property we're guaranteed with high pr. to fall on "a" node in a given layer which has this long dependency path in the DRG graph.

[2019-08-01 15:22] irenegiacomelli commented on #137
Attached here a pdf with the parameter formulas for ZigZag and Stacked-DRGs.
They are different from the formulas in the paper because:
1) some typos in the print version,
2) we don't bound \delta,
3) we express soundness as 2^{-\lambda}.

[Tight_PoS___ZigZag-2.pdf](https://github.com/filecoin-project/research/files/3457427/Tight_PoS___ZigZag-2.pdf)

[2019-08-01 15:28] irenegiacomelli commented on #137
Next (possible) steps:
 - Writing the same formulas but with tapering. Notice that if we go with a [Merkle tree amortisation](https://github.com/filecoin-project/research/issues/141), then tampering is not necessary anymore.
 - See what happens using Chung's construction with degree d< 8 (more layers, but less inclusion proofs per layer)

[2019-08-01 15:45] irenegiacomelli commented on #141
**Another approach ("family commitments": each time you commit to a node, you commit to all its parents too)**

This allows to have only 1 Merkle tree (and 1 inclusion proof per challenge) is the following: for each node hash together the labels of this node and its parents for all the layers. This gives n (number of nodes) values on which we construct the Merkel Tree.

More in details:
Let D(i)_j

[2019-08-02 11:54] #61 closed

[2019-08-04 00:37] porcuquine opened #142 "PADDINGBUCKETS: avoid opening padding nodes in circuits"
Most nodes necessarily have fewer than the maximum expansion parents, but since we don't know the actual number at circuit synthesis time, we provide inclusion proofs for the padding nodes (earliest node in that layer by direction). This is wasteful.

If we knew the exact number of parents in advance, we could avoid this.

We *can* know this by statically analyzing the graph and assigning each nod

[2019-08-04 20:43] porcuquine commented on #141
Here are my thoughts on column hashing, including a potential approach to avoiding the 2x openings implied by alternating graphs.

- Basic idea: use same challenges on every layer.
  - Hash values for same node at each layer together.
  - Generate vector commitment over these column-aggregated hashes.
  - When same node is challenged, same challenges will be too.
  - So to answer challenges, just

[2019-08-04 22:05] porcuquine commented on #141
Here are my thoughts on how we might be able to address the consistency problem with family commitments. This requires
replacing some randomness in challenge generation so we can make assumptions in circuits. This might be neutral (same
number of challenges required), worse (need more total challenges), or maybe(?!) better (can get away with fewer total
challenges).

-   Hash data node, replica no

[2019-08-04 22:11] arielgabizon commented on #141
(Reply to @irenegiacomelli )
The expense of this approach depends on how many "parent consistency checks" need to be done.
So I think you'd need to prove a lemma of the form "Assuming a 1-eps fraction of pairs of nodes are consistent in their overlapping, there is a *single* encoding that captures a 1-eps' fraction of nodes "
The relation between eps and eps' would determine how many consistency c

[2019-08-05 08:44] irenegiacomelli commented on #142
Yes, I agree on this: once that the graph is generated we can go through all layers and all nodes to assign them to the buckets.
The bucket structure do not change (is a property of the graph) when the challenges change.

Mmh, not sure I understand this...
Let me try to say what I understand, and you @porcuquine correct me!
I guess that we want that a set of random challenges selects always the sa

[2019-08-05 13:07] irenegiacomelli commented on #141
@porcuquine
About your comments on column commitments: It works for me.
We argue security simply saying that in each layer we check c times a random node, if i consider two layers the selected nodes can be the same nodes,  different nodes, alternating node, it does not make any difference (the single check looks at one layer only).

[2019-08-05 18:49] daira commented on #53
@burdges wrote:

We'd be happy to take these kinds of changes (subject to our normal code review/quality requirements of course); the obstacle at the moment is that we're in the middle of a big refactoring, which has taken longer than we expected. After that, please do try to upstream your changes.

[2019-08-05 18:53] daira commented on #53
Note that updating `rand` is already part of our refactoring (https://github.com/zcash/librustzcash/pull/91).

[2019-08-05 20:04] porcuquine commented on #142
Yes, we would have to change how we sample challenges now. I am not sure this affects the soundness because it does not change the likelihood of any given node being challenged.

Here is a minimal example. Disregard the actual values used: they are not representative of the real distribution of expansion parents:

With a sector of 1024 nodes:

- For this example, assume no nodes have zero parents,

[2019-08-05 20:42] porcuquine commented on #141
@irenegiacomelli @nikkolasg I told you I would write down a concrete attack showing why we need independent inter-layer consistency checks if we use column+family commitments. Here are some notes. To ease discussion, I call these extended (as opposed to atomic) family commitments.

- Atomic vs Extended Family Commitments (w/POC attack on Extended):
  - Atomic family commitments hold all nodes for

[2019-08-06 17:07] irenegiacomelli commented on #118
The quick answer here below (In the [google doc](https://docs.google.com/document/d/1wsF4IhHmi1QRqPmqfny7tc-4OOhaRDZ-l4I3VjANufE/edit)) there are more detail):

Setting: offline phase (initialisation) of ZigZag

Attack: the prover correctly computes the labels for all layers except the last one, then he tries different encodings of the last layer to get the challenges that allows him to pass the o

[2019-08-06 17:26] arielgabizon opened #143 "MALLSNARK: Does malleability need to be addressed? Should we switch to an SE-SNARK?"
tl;dr - my answer to the above questions is no.

**The potential problem:**
Someone submits a PoRep to the network for a certain replica-id
You want to conclude it implies they have the replica stored.
However, since the Groth-16 SNARK is only knowledge sound and not simulation-extractable,
it only implies that the "joint party" consisting of everybody that ever submitted information to the chain

[2019-08-07 13:03] irenegia opened #144 "CHUNG: Understanding Chung's construction in the ZIgZag graph"
## Standard Chung's construction:

- we have a two-layer graph, each layer with N nodes (indices form 1 to N)
- we sample a random permutations of pairs, P: [d] x [N] --> [d] x [N]
- assign edges in this way: given a node i in the lower level, its parents in the upper lever are computed as follows.
[code]
   ZZ.Parents(i,j) {
         Parents = empty

           --if mod_2(j) =0 (even layer)

[2019-08-07 13:10] irenegiacomelli commented on #144
@porcuquine: is this "close enough" to what we do in the code? :)

Question (@nicola):  in each layer we use the permutation P and its inverse, P^{-1}. Because of this, each node can have *more than d* parents. Right?
About what you wrote in the slack channel, are you suggesting to avoid using the inverse P^{-1}?

[2019-08-07 13:12] schomatis commented on #144
For reference, this is the (not correctly formatted) Chung spec:

https://github.com/filecoin-project/specs/blob/master/zigzag-porep.md#chungexpander-bipartite-expander-graphs

(The Rust code on which it is based is [here](https://github.com/filecoin-project/rust-fil-proofs/blob/3376d44f3bb7b6b474a433708307f2d647647ac1/storage-proofs/src/zigzag_graph.rs#L354-L387) and [here](https://github.com/fil

[2019-08-07 13:15] schomatis commented on #144
We only use one permutation (direct or inverse) per layer, the rest seems close enough. (Yes, we invert nodes indexes in the reverse.)

[2019-08-07 13:18] schomatis commented on #144
Yes, that would be my intuition. Looking at the paper pseudo-code, we iterate 8 times (`k`) but each iteration can add two parents (direct and inverse permutation), so we can add between 0 and 16 parents per node.

[2019-08-07 13:33] schomatis commented on #144
On a personal note, I would also like to better understand the intuition behind simultaneously using `P` and `P^{-1}` on the same node/layer, which seem to me as totally unrelated oracles (even though they're its own inverse), that is, what does it bring to the table in contrast with cases like:

1. Use only `P`, iterating it from 0 to 16.
2. Use a different permutation `P_2` (with inverse `P_2^{-

[2019-08-07 13:39] irenegiacomelli commented on #144
Thanks @schomatis !
So, it is confirmed that what is written in the spec (ie, what we implement) is different to what is described in the paper.
I need to check if this affect the security of the construction (and in case, how)!

[2019-08-07 13:59] irenegiacomelli commented on #144
This is the intuition:
Because of the "only-one direction" rule, the parents the node i are of two kinds (assuming even layer):
1) parents of node i according to standard Chung construction with higher indices  (these are the ones we get using the permutation P and checking i' > i),
2) "sons" of node i according to standard Chung construction with higher indices (these are found by the inverse per

[2019-08-07 14:20] schomatis commented on #144
Thanks for the explanation! I agree with the necessity of the property that parent/child relation should be invertible, but I'm not sure I can extract from that the rationale of using the current construction, in contrast with the other two proposals I submitted as example, e.g., using only `P` (with doubled the iterations) would still guarantee that the parents we found will be its sons in the re

[2019-08-07 15:57] porcuquine commented on #144
@irenegiacomelli I think @schomatis understands both the implementation and my specific question about the implications of changing it. For that reason, I'll leave this to him. Please one of you ping me here if something new comes up, we reach a resolution, or we reach a decision point where input is valuable.

[2019-08-07 17:03] nikkolasg commented on #144
I need to check if this affect the security of the construction (and in case, how)!

To me it looks like on *expectation*, there will be half less parents in one layer, since the other half  have lower indices than their parents (following @irenegiacomelli algo. notation) so these are "invalid" given the direction of the layer (again, on expectation).
Hence imo it's the reason why we are using the

[2019-08-07 17:12] nikkolasg commented on #144
@schomatis

From what I understand of permutations, there's no guarantees at all. It's even how Ben wrote the algorithm in the filecoin / [porep paper p.17](https://web.stanford.edu/~bfisch/porep_short.pdf).
The only difference using the reverse permutation is that you can't get back the `j` you got from the first permutation. To put it differently, it's as if you pick out a second time a ball fro

[2019-08-07 17:40] schomatis commented on #144
@nikkolasg Why? If I understand correctly you're saying that if `j <- P(i,k)` then `P^{-1}(i,k) != j`, and for me the only guarantee is that if if `j <- P(i,k)` then `i <- P^{-1}(j,k)` (let's say `i!=j`) but I know nothing about the inverse permutation of the original node `i`.

-----------------------------------------------------------------------

In any case, that discussion is just for improv

[2019-08-07 17:58] porcuquine commented on #144
@schomatis I think limiting the parents could also leading to a violation of the assumption that all edges are shared between layers (just with direction reversed).

One thought for everyone to consider (cc: @nico): since we already intend to fully cache expansion parents, we *could* commit to this strategy, require precomputation, and implement some approach which requires global analysis of the

[2019-08-07 18:04] schomatis commented on #144
If that (or something along those lines) were possible we could extend the number of Feistel rounds to increase the chances of finding parents within the acceptable `[0,i)` range (and `(i,N]` in reverse).

[2019-08-07 18:28] nikkolasg commented on #144
@schomatis So let's call the permutation `P`, and its inverse `P'`.  If you have `P(i) = j` , then `P'(j) = i`. So `P'(i) = j'  != j` , because if it was the case, then we would have `P'(i) = P'(j)` which is impossible when `i != j` since `P'` is a permutation.

[2019-08-07 18:41] schomatis commented on #144
I'm not sure we're meaning the same by _permutation_ here, for me the bit permutation of Feistel is just "generate random int of bits length", but let's continue this on Slack later, I feel I already diverted the discussion too far from the original (important) issue you raised earlier.

[2019-08-07 18:48] porcuquine commented on #144
@nikkolasg

I am not sure your analysis holds for all `P`. In particular, what if `P` contains 2-cycles, so that`P = P'` (at least for some `i`, `j`)?

For example: `P(1) = 2`, `P(2) = 1`, `P'(2) = 1`, `P'(1) = 2`.

If `i = 1`, `j = 2`, then `j = P(i) = 2 = P'(i) = j'`, but still `i != j`.

I could be seeing this wrong, but do you think this case is handled by your description? I think it's still

[2019-08-07 20:26] nikkolasg commented on #144
Good catch. My condition is wrong indeed and here is the correct one that catches your example I believe:
[code]
So **the condition is  `P(j) != i`** , i.e. to not having a cycle as shown by @porcuquine.
That probability (`Pr[ P(j) = i ]`) is the same actually than before I think: for a given permutation, it's `1/N`, which is believed in our case to be negligible. With composition, even if we run

[2019-08-08 02:21] schomatis commented on #144
So, after a closer inspection of what Chung’s construction actually is (reading section 3.2 of this [reference](https://eprint.iacr.org/2016/333.pdf) of the porep paper) I realize that *we are not implementing that*. All my above comments were based on my understanding of the code so they are wrong and should be ignored. I'm deferring to @porcuquine here for him to bridge the gap between theory an

[2019-08-08 10:07] nicola commented on #143
Question: can a miner with a different miner ID generate a proof for some data that someone else is storing? (breaking the space-hardness property of filecoin?)

[2019-08-08 13:33] nicola commented on #134
made its epic #138 launch critical

[2019-08-08 13:37] irenegiacomelli commented on #144
This is very interesting, thank you all!

Unfortunately, I am still stuck still at the very begging of this discussion.
 I'll recap here my thinking and keep work on this offline (help welcome!)

1. **(OK)**  The security analysis of the Stacked-DRGs is strongly based on two properties of the expansion factor of the standard Chung's construction for degree 8. These properties are proved in Ben's T

[2019-08-08 13:54] nicola commented on #101
This is not needed with the current PoSt construction defined in https://github.com/filecoin-project/specs/pull/332

[2019-08-08 14:01] nicola commented on #1
I am closing this issue, unless the stakeholders will find this relevant again. This is being tracked in the specs repo.

[2019-08-08 14:01] #1 closed

[2019-08-08 14:02] nicola commented on #133
Closing this issue since, this is not a direction we are considering pursuing at the moment.

[2019-08-08 14:02] #133 closed

[2019-08-08 15:09] nicola commented on #126
Tracked in the proofs repo: https://github.com/filecoin-project/rust-fil-proofs/issues/736, implemented and merged: https://github.com/filecoin-project/rust-fil-proofs/pull/783 more data about the reasoning here: https://github.com/filecoin-project/rust-fil-proofs/issues/697

Pedersen is now about: 1.7x faster.

[2019-08-08 15:09] #126 closed

[2019-08-08 15:10] nicola commented on #47
Work happening in https://github.com/filecoin-project/specs/pull/332

[2019-08-08 15:12] nicola commented on #52
this is only relevant for VDF post, closing this for now.

[2019-08-08 15:12] #52 closed

[2019-08-08 15:15] nicola commented on #93
@porcuquine 	is this still relevant or can we close it?

[2019-08-08 15:16] nicola commented on #98
@sternhenri can we close this or is this still open?

[2019-08-08 15:17] nicola commented on #106
This is related to blake2s amortization

[2019-08-08 15:19] nicola commented on #135
It seems that we will go for strategy 1: https://github.com/filecoin-project/specs/pull/332

[2019-08-08 15:35] nicola opened #145 "AGGSNARK: Aggregating SNARKs to support larger circuit sizes"
The current issue with our circuits today is that they are large and this would require larger memory requirements and large CRS that would make it impractical to run.

While other optimizations may land to make proofs faster, having the ability to aggregate SNARKs will be key.

Research work is done, currently being implemented

[2019-08-08 15:57] nicola opened #146 "AUDIT: Playbook for auditing our circuits and proofs"
@nicola commented on [Thu Aug 08 2019](https://github.com/filecoin-project/research-private/issues/195)

The internal audit will have three phases:
- **Theory Audit (~6 weeks)** by @nicola, @nikkolasg, @irenegiacomelli, @lucaniz: the team will read the current paper and will produce a document with correct parameters and the correct construction.
- **Implementation/Circuit Audit first pass (~1 wee

[2019-08-08 17:59] nicola opened #147 "Generalize/Import Bowe-Hopwood Pedersen hash to ZEXE curves"

[2019-08-08 18:40] arielgabizon commented on #147
We need to verify that the set of constraints imported from Sapling for the Ped hash are not dependent in anyway on the BLS-381 group size as the underlying field, or if they do, that the same set of constraints is also good for defining a collision resistant Ped hash over a field whose size is the BLS-377 group size. In contact with Kobi Gurkan from Celo and Daria Hopwood from Zcash on this.

[2019-08-09 11:26] irenegiacomelli commented on #129
For the offline phase:
if lambda = 80, then
\delta = 1 - (8.27)^(1/c) (10)^(-25/c)

c = 250 --> delta ~ 0.2, impossible (*)
c = 100 --> delta ~0.054
c =2500 --> delta ~ 0.02

(*) Notice, with the current analysis we must have \epsilon > 3 \delta and \epsilon +delta < 0.24

With delta =0.054, eps = 0.163, the space gap is a bit larger than 2%

[2019-08-09 11:27] nicola commented on #129
This needs to be reflected in ubercalc @porcuquine

[2019-08-09 11:59] nicola opened #149 "spec-fix: Make sure that DRG parent includes the direct parent in algorithm"
We should make sure that this is reflected into the spec, cc @porcuquine, @dignifiedquire

[2019-08-09 11:59] irenegia opened #150 "TAPZIGZAG: writing the tapering formula for ZigZag PoRep"

[2019-08-09 11:59] nicola commented on #149
see https://github.com/filecoin-project/rust-fil-proofs/issues/744#issuecomment-515734612

[2019-08-09 12:02] nicola opened #151 "GENFORMULA: a generalized formula for SDR, ZIGZAG params"
Can we write a generic analysis for ZigZag given any degree for the DRG and for the (chung) expander graph?

[2019-08-09 12:16] nicola commented on #118
@porcuquine, this should also be in ubercalc

[2019-08-09 12:37] nicola commented on #118
What is the distribution of hashes over different delta?

[2019-08-09 14:22] irenegiacomelli commented on #150
From Ben's paper (Tight PoS, EUROCRYPT19), we have the tapering* formula for the stacked-DRGs PoS. We want to adapt this formula to work also with ZIgZag PoRep.

*tapering = in the offline fase (initialisation) we open a different numbers of nodes at each layer (we check more at the last layers and less in the first ones)

[2019-08-09 15:05] arielgabizon commented on #143
If I understand your questions correctly: someone is storing a replica of data D with repID r,
can you generate a proof for data D and repID r' different from r, when *nobody* is storing replica r'

(sidenote:seems cleaner to include comm(D) in the repID and then the repID is unique and binds the data)
The answer is no.
To make a proof for a certain comm(D) and repID, the replica needs to be store

[2019-08-09 23:30] nico commented on #144
It's an interesting question! Have you considered if this would impact cache expiry at all?

[2019-08-10 13:12] arielgabizon commented on #147
Based on [Zcash spec](https://github.com/zcash/zips/blob/master/protocol/protocol.pdf)  , The following checks need to be added to the code to ensure pedersen hash works correctly over bls-377:

1. A^2-4  is nonsquare  (Thm A.3.2)
where A is [`montgomery_a`](https://github.com/zcash-hackworks/sapling-crypto/blob/b70d6e66fc1de66f8609e22a2b13eb11bdeb69b3/src/jubjub/mod.rs#L143)

The edwards curve is

[2019-08-12 08:01] irenegiacomelli commented on #118
Edit: the worst case scenario is possible in ZigZag! :(

Consider a ZigZag graph where the last layer is odd and all edges go from lower indices nodes from higher indices nodes. Then a cheating prover can keep the first (lower indices) (1-\delta') n nodes with correctly computed labels (no need to re-computing this part) and try the grinding attack by computing all the last \delta' n labels simult

[2019-08-12 16:47] irenegiacomelli commented on #141
@porcuquine: I am not sure I fully understand the attack on extended family commitment, but I believe it does not apply to column commitments. Right?

[2019-08-12 16:52] irenegiacomelli commented on #141
Here a pdf with a recap on the column commitments.
If we use the column commitment with 1 Merkle tree only the number of labels revealed is increased (\ell (1+ d1 + 2d2) instead of  \ell (1+ d1 + d2)) but can have only (1 + d1 + 2d2) paths to open!! :)

d1 = DRG degree (6?)
d2 = expander degree (8)
[columns-comm.pdf](https://github.com/filecoin-project/research/files/3493519/columns-comm.pdf)

[2019-08-12 17:40] porcuquine commented on #144
Thank you, @nico — and what a wonderfully gracious way to respond to my mistake. For clarity, I had meant to mention @nicola.

To your question: the cache will remain valid for as long as the graph seed remains unchanged. Individual parts will not have different lifetimes than the graph as a whole, regardless of how they are computed.

[2019-08-12 20:40] porcuquine commented on #141
@irenegiacomelli A first quick note on your PDF: I think you are using a different numbering convention than what @nicola introduced in the zigzag spec: https://github.com/filecoin-project/specs/blob/master/zigzag-porep.md I think (but could be wrong) that your terminology matches what the implementation does.

@nicola Recently confirmed that the spec describes what *he* means by 'even' and 'odd'

[2019-08-13 06:17] mhammersley commented on #129
@irenegiacomelli , are you comfortable owning this issue? (i.e., you being the assignee?)

[2019-08-13 11:00] irenegiacomelli commented on #141
@porcuquine You are right, I was using the numbering staring from 1 (as in the paper), while the spec uses numbering starting from 0. I'll change my notes!
I believe that this difference caused the mismatch in the even/odd the definition too.
The "rule" is the second layer is in the reverse of the first one. But, in my numbering the first is odd, while in the spec numbering is even!

I don't have

[2019-08-13 12:58] schomatis commented on #134
Studying code in https://github.com/filecoin-project/PebblingAndDepthReductionAttacks (implementation from the cited paper, it also includes the attacks in https://github.com/filecoin-project/research/issues/96).

[2019-08-13 13:39] irenegiacomelli commented on #141
**ToDo**: check if the column commitment with 1 Merkle tree has the same problem as the family commitment (the same node appears in two different hashes with two different labels).

[2019-08-13 18:02] irenegiacomelli commented on #144
@porcuquine @schomatis

Quick update: I finally started to understand this part of the security proof more and in my understating we should use both P and its inverse P^-1 in each layer.

The difference between odd and even layers is the re-numbering of nodes (we invert them ivy two layers) and the direction of edges.

[2019-08-13 19:28] porcuquine commented on #144
I am not sure what you mean by this. Assuming you are only talking about the expansion (Chung) parents and not the DRG (bucket sample) parents, then there is no re-numbering between layers. I agree that edges are simply reversed between layers but believe this would not be the case if we were also renumbering nodes. (It's possible we are just using different terminology, in which case hopefully th

[2019-08-14 09:04] irenegiacomelli commented on #144
@porcuquine

Yes, there is no re-numbering. I meant that node i becomes node n-i+1, bad choice of words.

[2019-08-14 09:11] porcuquine commented on #144
That's what I thought, but I don't think this transformation affects expansion parents. I think it's only used when calculating the DRG parents (bucket sampling). We may be agreeing; I just want to make sure since if we aren't something will have to change somewhere (implementation or ideas).

[2019-08-14 09:13] irenegiacomelli commented on #144
Yes, for sure our current implementation of ZigZag has too few parents.
Using P and inverse P is the same layer is the correct way to construct ZigZag according to the security proof in the paper (based on Chung's construction)
**Note**: P and inverse P have to be computed only for the first and second layers (layer 0 and layer 1), all the others are just copies of one of these two!!
Is this still

[2019-08-14 09:14] porcuquine commented on #144
Got it, thanks.

[2019-08-14 09:18] irenegiacomelli commented on #144
Yes... we are doubling the number of expander parents, but only for some (half?) nodes. For the others we are actually reducing it. So, you are right that if we want to not double the circuit size, we should do the bucket trick... I'll look at that.

Other solution: we can try to start form Chung's construction with **degree 4**!
(cc @nikkolasg)

[2019-08-14 09:19] porcuquine commented on #144
Can we do both? That would be fantastic.

[2019-08-14 09:26] irenegiacomelli commented on #144
mmmh... I think this transformation is used also for the expansion parents of odd layers (the reverted ones). But let' me check this!

[2019-08-14 13:04] lucaniz commented on #118
Reviewed. Moving content from google doc/issue to tex file

[2019-08-14 15:52] nicola opened #152 "FASTRETRIEVAL: making marginal cost of retrieval small"
Investigate on the proposal for fast retrieval, and evaluate possible further directions (eg fast proof/slow proof, replica proof+ cache proof)

See https://github.com/filecoin-project/specs/issues/431

[2019-08-14 16:16] porcuquine commented on #144
I looked at the paper (p.17) as noted in your TODO, and I think you are right.

This also makes sense because it resolves the issue of expected number of parents varying by position. Because the inverse permutation is used, *and* the node is taken from the reversed graph, the probabilities of finding a parent by either method (forward or inverse with 'renumbering') are complementary.

For example,

[2019-08-14 20:29] irenegiacomelli commented on #144
I am not sure that I understand: in the way I see this, the numbering of nodes does not change the number of parents that a node has.
Numbering is just the names we give to nodes, but the construction will anyway require that the first node (starting from the left) in an odd layer is "equivalent"  (ie, has the role of) the last node in an even layer (Here equivalent has different meaning depending

[2019-08-14 23:21] porcuquine commented on #144
You can ignore what I wrote. I have convinced myself that this misinterpretation doesn't actually make any sense. I concur with your unfortunate assessment, though I think we can still use #142 to reduce parents.

I think in addition to adding the inverse permutations at each layer, we also have to add the renumbering (which we use for DRG parents but not expander parents, currently).

I don't act

[2019-08-15 17:08] irenegiacomelli commented on #144
The pseudocode on p.17  convinces me for the way expander edges are added. But I don't understand with the DRG edges/parents are added in the same way for odd and even layers. I believe that is a typo (refer to the very first line in the algorithm).

I'll check and let you know.

[2019-08-15 20:26] porcuquine commented on #141
@nicola Given that the paper, the implementation, and now @irenegiacomelli's write-up all use a different numbering, and given that the spec is highly in flux anyway — is there a strong reason you chose to write the opposite into the spec? It seems like we would be better off writing a spec that agrees with all other uses, since we can.

[2019-08-15 21:20] porcuquine commented on #141
I think that is correct. I do not believe the family commitment attack described above applies to column commitments.

I would like to push a little harder to make sure column commitments do not allow a different attack because the change makes me nervous. If I don't report a problem here, it means I didn't come up with anything. I will also comment here if I become completely satisfied.

Obviousl

[2019-08-16 13:20] irenegiacomelli commented on #144
I re-wrote the pseudocode of p.17 applying the re-numbering only to Exp parents (and not to chung parents) as explained in Ben's paper (see pdf)
[zigzag.pdf](https://github.com/filecoin-project/research/files/3509754/zigzag.pdf)

@schomatis, @nikkolasg @porcuquine
Do we agree that this is the correct construction?

[2019-08-17 23:24] schomatis opened #153 "ZigZag DRG parents topology"
We seem to have two conflicting sources of information to determine the topology of ZigZag graphs:

* Paper [Tight Proofs of Space and Replication](https://eprint.iacr.org/2018/702.pdf) which contains Figure 1.1 (and explanatory text in the "PoRep from ZigZag Expander DRGs" section).

* Technical report (TR) [Scaling Proof-of-Replication for Filecoin Mining](https://web.stanford.edu/~bfisch/porep_

[2019-08-17 23:26] schomatis commented on #153
Spawned from the discussion in https://github.com/filecoin-project/research/issues/153 which concerned particularly the Chung's construction used to generate the parents from the expander graphs, this issue also discusses the generation of the base DRG parents.

[2019-08-19 10:13] irenegiacomelli commented on #153
@schomatis
I believe there is no conflict between the paper and the TR as regards the final result.
The conflict is in the notation!

Notice that the TR (pag.18) describes the encoding by "swaping" the vector x = (x_0, .. x_n-1) of labels in each layer. (they the pseudocode in the box at page 18).
This + the construction from TR is equivalent to "standard" encoding (with no swiping) + construction

[2019-08-19 12:32] pooja commented on #119
Cross-posted as a Filecoin devgrant here: https://github.com/filecoin-project/devgrants/blob/master/rfps/rfp-rsa-vector-commitments.md

[2019-08-19 14:19] schomatis commented on #153
@irenegiacomelli I'm not sure I follow, the `swap` seems to operate at a higher abstraction level than that of `DAG.Parents`, e.g., if that would "fix" the expander topology to match the paper it would "break" the DRG one I think.

Anyway, to help me follow your reasoning, could you produce a simple example where the `b=1` case of the pseudo-code in the TR produces the same topology as the middle

[2019-08-19 14:39] irenegiacomelli commented on #153
@schomatis
We have two things in the PoRep: the graph (with the topology) and the definition of encoding (\ie how to use the graph topology to compute the replica given the data).

My previous comments was about the fact that both these things are different in the TR compared to the paper (eg, the encoding in the TR uses the swiping, which is not used in the paper).
In particular, the difference i

[2019-08-19 14:49] schomatis commented on #153
I still don't quite see how that correction works, but I trust your analysis so feel free to close this issue if you think it's resolved.

[2019-08-19 19:51] schomatis commented on #153
From Slack:

Closing this as resolved then, do reopen if new questions arise, let's continue the expansion (Chung) parents specific construction in https://github.com/filecoin-project/research/issues/144.

[2019-08-19 19:51] #153 closed

[2019-08-19 22:01] sternhenri commented on #98
Good insofar as EC is concerned imo

[2019-08-19 22:01] #98 closed

[2019-08-20 09:10] nicola commented on #141
For now we decided to have AMORTIZEDTREES_EXTRA which opens extra columns to support even and odd expander parents.

Future direction will try to look into: only doing mirroring to expander parents, so that we don't need to do extra openings

[2019-08-20 09:27] nicola opened #155 "SDRPOREP: Using Stacked DRG as a PoRep"
From Fisch 2019:

- Pros: SDR has less layers than ZigZag (for the same spacegap)
- Pros: There is no need to invert the graph, so it's the same graph repeated at every layer, making the ideal version of #141 (amortized trees) work
- Cons: Locality of data writes is not preserved

[2019-08-20 09:34] dignifiedquire commented on #135
Yes strategy 1 is described in https://github.com/filecoin-project/specs/pull/332

[2019-08-20 12:22] irenegiacomelli commented on #137
Update: we are working on other typos found in the ZigZag parameters
See https://www.overleaf.com/read/kcdhnxwptxbc

[2019-08-20 12:38] nicola commented on #118
The latest analysis is ruling out the possibility of having a small lambda and non-interactive porep.

[2019-08-20 13:01] nicola opened #156 "INTERACTIVEPOREP: Can we keep a small lambda by making PoRep offline interactive?"
Given the results from #118 (TINYLAMBDA), we can't have a small lambda and non-interactive offline Porep. Can we keep a small lambda and turning PoRep interactive?

If we decide to go for INTERACTIVEPOREP, then:
- Will a lambda 8 in the interactive porep be safe?
- The spec should be updated, there must be a commit phase, and a challenge phase (note: they happen at the same time for non-interactiv

[2019-08-20 13:02] nicola commented on #118
I created a new issue to track the construction for interactive porep (https://github.com/filecoin-project/research/issues/156), but closing this one now.

[2019-08-20 13:02] #118 closed

[2019-08-20 13:08] nicola commented on #144
Chung construction written up here: https://www.overleaf.com/3456316943pfxsqxkdghsy 

[2019-08-20 13:13] nicola opened #157 "MIRROREDPOREP: Can we avoid the zigzag technique and replace it by mirroring?"
Each node in a graph has chung parents and drg parents. However, the set of edges changes on odd layers, drg parents are simply mirrored, while chung parents are inverted (with a technique described here: https://www.overleaf.com/3456316943pfxsqxkdghsy ).

Can we also simply mirror the DRG parents? if possible, this would allow to have a simplified version on #141 (amortized trees)

[2019-08-20 13:15] nicola commented on #144
implementation issue being created here: https://github.com/filecoin-project/rust-fil-proofs/issues/827

[2019-08-20 13:16] nicola commented on #144
Can you ack, so that we can close this:
- [ ] @porcuquine
- [ ] @schomatis

[2019-08-20 13:24] #149 closed

[2019-08-20 14:16] lucaniz commented on #142
@porcuquine this idea reminds me the Standard/ A-Packed challenge sampling you and I discussed dome time ago and we agreed that the 2 distributions were not statistically close. Don't know to what extent this is relevant  here [anyway, just pointing the "old" pdf about A-Packed here, for reference]
[main.pdf](https://github.com/filecoin-project/research/files/3521045/main.pdf)

[2019-08-20 14:21] nicola commented on #143
If someone made a proof of a certain replicaId, then this replica must exist on some hard disks.

[2019-08-20 14:21] #143 closed

[2019-08-20 18:31] mhammersley commented on #120
relevant PR, per @DrPeterVanNostrand : https://github.com/filecoin-project/rust-fil-proofs/pull/777

[2019-08-20 18:37] mhammersley commented on #131
per @arielgabizon , this is a longer-term project that won't affect filecoin v1.0; removing "launch-critical" label

[2019-08-20 19:25] porcuquine commented on #142
Thanks, @lucaniz. Based on discussion today, I believe we are in agreement that the proposal in this issue rests on the same considerations as the one on which that analysis was performed. Either both are okay, or both are problematic.

@irenegiacomelli I think we agreed that the probability of a node being challenged is not changed under this proposal — just the probability of specific distributi

[2019-08-21 15:00] arielgabizon commented on #156
This may be the most practical way to ship Filecoin 1.0, as it probably allows to avoid aggSNARK, which still hasn't completely converged.

[2019-08-22 09:32] irenegiacomelli commented on #141
Updated notes here: https://www.overleaf.com/read/kcdhnxwptxbc
We are converging to use ZigZag commitments (Porcu's version).

Visualisation by @porcuquine here: https://github.com/filecoin-project/cryptolab/blob/227b820aeffc72965fc1cc36be9814b2648324b0/replication/zigzag-commitments/zigzag-commitments.org

[2019-08-22 16:04] bvohaska opened #158 "Alternative to VDE (mitigating SEAL Stack and Generation Attacks)"
Chaya presented an alternative PoRep that diid not rely on timing assumptions present in a VDE. This construction appears simple enough to implement quickly and offers a solution to the generation attack. When coupled with a VDF, this construction might solve the SEAL stack attack. Recommend watching the video for a more rigorous explanation once posted. (@porcuquine, @dignifiedquire )

"Proofs of

[2019-08-22 17:41] #144 closed

[2019-08-22 18:30] irenegia commented on #129
waiting to solve #137 to update the formula and send this to review!

[2019-08-22 23:26] mhammersley commented on #123
overarching question from @anorth for @porcuquine , @nicola : is it looking likely at the moment that rationalPoSt may require heavy penalties for miners to ensure rationality? or does that still require more calculations first?

(@anorth , do you have an approximate definition of what would count as "heavy", operationally?)

[2019-08-22 23:32] anorth commented on #123
A heavy penalty would be losing the pledge collateral proportional to faulty sectors.

[2019-08-24 08:33] arielgabizon commented on #156
After talking with @lucaniz and @irenegia I think this might require periodic resealing, which might be a big pain to introduce.
Otherwise, it's hard to do a rational analysis:
The malicious miner tries to seal a incorrect encoding e.g. with many zeroes at the end.
There's some probability a that he loses his depost D,  but w.p 1-a (when only sealing once)
he can mine forever with that seal..
so t

[2019-08-24 21:33] porcuquine commented on #137
I am not sure I agree with this.

I agree that we cannot taper the merkle inclusion proofs. However, if at all possible, we should taper the encoding proofs.

Every encoding proof incurs one blake2s hash in the circuit for every parent. This is significant.

Moreover, I think that if we are careful/clever in choosing which challenges to perform and which to skip on each layer then we may be able t

[2019-08-26 09:22] irenegia commented on #137
Yes, I agree with you @porcuquine !

[2019-08-27 15:26] arielgabizon commented on #156
To summarize discussions. Let C be the expected mining revenue from the file after successful sealing in time t (e.g. t=one year , and we assume once a year people must redo offline phase to keep mining with replica; alternatively make assumption we only care about bounding adversary's profits within period of length t). From discussions, it seems we would want to fix t to be something large like

[2019-08-28 10:39] irenegia opened #159 "ZIGZAGENC: apply the reversing to the encoding function instead of to the graph"
Idea:
- Modify theZigZag graph: now each layer is the exact copy of the second layer (that is, no mirroring for DRF, no reversing for the expander edges).
In other words, now all layers (expect the first one, which has only DRG  edges) are the same!
- Then define encoding in this way :
`label(i,j) = label(n-i+1, j-1) + H(parents of i in level j)`

(label(i,j) + label node i in level j)

Can this w

[2019-08-30 08:22] lucaniz commented on #137
We made some progress in the last 24 hours (long comment in red in the [doc](https://www.overleaf.com/read/kcdhnxwptxbc
)  . We are going to modify what follows accordingly)

[2019-09-02 05:11] nicola commented on #158
hey @bvohaska, we did know about their work (we actually did support this work through the RFP program). Unfortunately, in my understanding this won't work in the setting of Filecoin. The reason is that a trusted node must be generating this encoding - it could be the client itself, however in Filecoin both the prover and the client could be the same entity :(

[2019-09-02 05:31] nicola commented on #11
old issue, closing. We pick the depth based on best known attacks

[2019-09-02 05:31] #11 closed

[2019-09-02 06:57] nicola opened #160 "SEQCHALLENGES: make post challenges sequentially generated"
This is another potential fix to SEALSTACK proposed by @whyrusleeping.

The idea is the following: in order to know the next challenge, one must to reply to the previous one.

This ensures that a malicious miner will not know ahead of time which stacked replicas to decode.

[2019-09-04 23:46] sternhenri opened #161 "Proving period/Finality relationship"
There is no clear conclusion to this issue but it stems from a conversation with @ZenGround0 regarding whether we can uncover invariants or specific relationships between key parameters across parts of the Filecoin protocol.

The specific question to start was "is there a clear relationship between finality and the proving period?"

Some answers:

    Blocks used to prove storage (ie whose tickets

[2019-09-05 00:07] sternhenri commented on #50
Referring to https://github.com/filecoin-project/consensus/issues/75, and specifically https://observablehq.com/d/3812cd65c054082d: Filecoin weight should add in the single digit "weight" per round (think 2-8). The spec will be updated to give a recommended precision (1 in 1,000; or 3 decimals seems acceptable), but it will ultimately be an implementation issue that will lead potentially lead to d

[2019-09-19 17:46] #141 closed

[2019-10-25 20:43] arielgabizon commented on #156
A different view on interactive porep is not about small lambda but just saying:
Whatever lambda you fix, interactive porep is at least as safe as noninteractive (when both using the same lambda).

Because in the noninteractive case the cost of the adversary A is only the cost of trying different proofs.
In the interactive case, even if the adversary has perfect predictability of the challenge giv

[2019-10-25 21:35] arielgabizon commented on #156
A particular case where I has potential advantages over NI, is that in NI you can always grind for a small fraction of fake space.
Suppose C is the number of challenges to the last layer, (In our usual notation, we take C=-lambda/log(1-delta)~ lambda/delta)
Suppose I replace the last d/C fraction of my replica with zeroes, for some d.
The probability I will be queried there is
(1-d/C)^C~ e^{-d}

s

[2019-10-25 21:37] arielgabizon commented on #156
To conflate issues to some degree perhaps with that of the ticket. My opinion is that we should use interactive porep, and stick with the Pedersen hash function rather than a cheaper more experimental hash.

[2019-10-28 16:43] arielgabizon opened #164 "Decision on circuit size - 2^27"
We've decided on circuit size 2^27 for the following reasons

1. The size (at least for paramaters) needs to be a power of two, we shouldn't go lower because ubercalc assumed at least a circuit size of 100M

2. It's quite difficult to go higher becase
  2a. With the current hardware specs 128GB, bellman crashes for larger size than 2^27, (and altering the code to use  memory swaps causes significa

[2019-11-17 23:18] burdges commented on #53
I've noticed folks asking for faster G2 deserialization in several places recently: https://github.com/zkcrypto/pairing/pull/102

[2020-01-07 02:20] schomatis commented on #139
I think this can be closed now, feel free to reopen.

[2020-01-07 02:20] #139 closed

[2020-01-07 02:26] schomatis commented on #134
I think the results of the greedy attack of this paper have been superseeded by the ones obtained from another attack (confusingly also called greedy in a different paper) implemented in https://github.com/filecoin-project/drg-attacks/blob/fbf5545dbdb31610d78347c24e05ce5b65eba1c8/src/attacks.rs#L25-L28.

[2020-01-07 02:26] #134 closed

[2020-01-07 02:28] schomatis commented on #138
@nicola What's the status of this issue? Have you had time to review @nikkolasg implementations in https://github.com/filecoin-project/drg-attacks?

[2020-01-13 10:35] nikkolasg commented on #123
We are not using rational post anymore.

[2020-01-13 10:35] #123 closed

[2020-05-01 03:40] jon-chuang commented on #96
Hi Nicola, have any of these attacks been implemented yet?

[2020-05-01 17:32] schomatis commented on #96
Hi @jon-chuang, partially, check out https://github.com/filecoin-project/drg-attacks.

[2020-05-02 00:11] jon-chuang commented on #96
@schomatis , yes I stumbled upon it ytd, going to take it for a spin this weekend :) it seems to have halted development? Is there are outstanding work?

[2020-05-05 09:22] nicola commented on #164
Answer was yes, closing!

[2020-05-05 09:22] #164 closed

[2020-05-05 09:23] nicola commented on #161
old issue, closing

[2020-05-05 09:23] #161 closed

[2020-05-05 09:23] nicola commented on #159
old issue, closing

[2020-05-05 09:23] #159 closed

[2020-05-05 09:23] nicola commented on #128
This has happened in the bellperson library

[2020-05-05 09:23] #128 closed

[2020-05-05 09:24] nicola commented on #84
this happened, closing this

[2020-05-05 09:24] #84 closed

[2020-05-05 09:25] nicola commented on #55
old issue, closing

[2020-05-05 09:25] #55 closed

[2020-05-05 09:25] nicola commented on #56
old issue, closing

[2020-05-05 09:25] #56 closed

[2020-05-05 09:25] nicola commented on #85
current PoRep does not suffer sealstack, closing

[2020-05-05 09:25] #85 closed

[2020-05-05 09:26] nicola commented on #87
old issue, closing

[2020-05-05 09:26] #87 closed

[2020-05-05 09:27] nicola commented on #86
old issue, closing

[2020-05-05 09:27] #86 closed

[2020-05-05 09:27] nicola commented on #106
This does not apply to current PoRep (SDR/NSE)

[2020-05-05 09:27] #106 closed

[2020-05-05 09:28] nicola commented on #101
old issue, closing

[2020-05-05 09:28] #101 closed

[2020-05-05 09:29] nicola commented on #115
We first moved forward with this. Then we switched back to a Periodic PoSt.
This is still a great idea.

[2020-05-05 09:29] #115 closed

[2020-05-05 09:29] nicola commented on #124
old issue, closing

[2020-05-05 09:29] #124 closed

[2020-05-05 09:29] nicola commented on #94
old issue, closing

[2020-05-05 09:29] #94 closed

[2020-05-05 09:30] nicola commented on #108
This paper solves it: https://eprint.iacr.org/2019/1494

[2020-05-05 09:30] #108 closed

[2020-05-05 09:30] nicola commented on #54
old issue, closing

[2020-05-05 09:30] #54 closed

[2020-05-05 09:31] nicola commented on #130
old issue, closing

[2020-05-05 09:31] #130 closed

[2020-05-05 09:31] #132 closed

[2020-05-05 09:31] nicola commented on #127
We moved forward with this

[2020-05-05 09:31] #127 closed

[2020-05-05 09:31] nicola commented on #125
old issue, closing

[2020-05-05 09:31] #125 closed

[2020-05-05 09:32] nicola commented on #12
closing this, since it seems resolved with the latest faults protocol

[2020-05-05 09:32] #12 closed

[2020-05-05 09:33] nicola commented on #95
old issue, closing

[2020-05-05 09:33] #95 closed

[2020-05-05 09:33] nicola commented on #107
old issue, closing

[2020-05-05 09:33] #107 closed

[2020-05-05 09:33] nicola commented on #112
old issue, closing - document is out of date

[2020-05-05 09:33] #112 closed

[2020-05-05 09:33] nicola commented on #105
We did this analysis and we chose SHA-256 for SDR

[2020-05-05 09:33] #105 closed

[2020-05-05 09:34] nicola commented on #100
old issue, closing

[2020-05-05 09:34] #100 closed

[2020-05-05 09:35] nicola commented on #47
new protocol implemented in spec actors

[2020-05-05 09:35] #47 closed

[2020-05-05 09:35] nicola commented on #117
old issue, closing

[2020-05-05 09:35] #117 closed

[2020-05-05 09:35] nicola commented on #151
old issue, closing

[2020-05-05 09:35] #151 closed

[2020-05-05 09:36] nicola commented on #152
old issue, closing

[2020-05-05 09:36] #152 closed

[2020-05-05 09:36] nicola commented on #147
old issue, closing

[2020-05-05 09:36] #147 closed

[2020-05-05 09:36] nicola commented on #119
old issue, closing

[2020-05-05 09:36] #119 closed

[2020-05-05 09:36] nicola commented on #157
old issue, closing

[2020-05-05 09:36] #157 closed

[2020-05-05 09:37] nicola commented on #142
old issue, closing

[2020-05-05 09:37] #142 closed

[2020-05-05 09:37] nicola commented on #150
old issue, closing

[2020-05-05 09:37] #150 closed

[2020-05-05 09:37] nicola commented on #155
we moved forward with this

[2020-05-05 09:37] #155 closed

[2020-05-05 09:37] nicola commented on #137
old issue, closing

[2020-05-05 09:37] #137 closed

[2020-05-05 09:38] nicola commented on #129
old issue, closing

[2020-05-05 09:38] #129 closed

[2020-05-05 09:38] #158 closed

[2020-05-05 09:38] nicola commented on #120
old issue, closing

[2020-05-05 09:38] #120 closed

[2020-05-05 09:38] nicola commented on #160
old issue, closing

[2020-05-05 09:38] #160 closed

[2020-05-05 09:39] nicola commented on #138
We implemented and were able to gain the same outcomes

[2020-05-05 09:39] #138 closed

[2020-05-05 09:39] nicola commented on #96
there seems to be no outstanding work - closing this old issue

[2020-05-05 09:39] #96 closed

[2020-05-05 09:40] nicola commented on #62
old issue, closing

[2020-05-05 09:40] #62 closed

[2020-05-05 09:42] nicola commented on #113
can we close this?

[2020-05-05 09:42] nicola commented on #104
This seems resolved

[2020-05-05 09:42] #104 closed

[2020-05-05 09:43] nicola commented on #20
is this an old issue?

[2020-05-05 09:43] nicola commented on #34
old issue, closing

[2020-05-05 09:43] #34 closed

[2020-05-05 09:44] nicola commented on #145
old issue, closing

[2020-05-05 09:44] #145 closed

[2020-05-05 09:44] nicola commented on #50
is this an old issue?

[2020-05-05 09:44] nicola commented on #131
old issue, closing

[2020-05-05 09:44] #131 closed

[2020-05-05 09:45] nicola commented on #53
any update on this?

[2020-05-05 13:11] sternhenri commented on #50
Yes!

[2020-05-05 13:11] #50 closed

[2020-05-05 13:12] sternhenri commented on #20
Yeah, stale by now

[2020-05-05 13:12] #20 closed

[2020-05-05 13:35] sternhenri commented on #113
Do it

[2020-05-05 13:35] #113 closed

[2020-05-05 15:20] deltazxm commented on #105
The final choice is SDR or NSE? @nicola

[2020-09-13 23:53] #121 closed

[2020-09-13 23:53] #146 closed

[2020-09-13 23:53] #156 closed

[2021-01-21 12:15] #14 closed

[2021-01-21 12:16] #31 closed

[2021-01-21 12:16] #45 closed

[2021-01-21 12:16] #53 closed

[2021-01-21 14:02] #30 closed

[2021-05-21 20:09] str4d commented on #53
We did complete our big refactor last year, and moved the trait crates back into their zkcrypto homes. I do want to pick this issue back up this year.

[2021-06-08 08:48] Jonas-Metzger opened #168 "Deal order with provably random miner"
To solve/reduce the data availability problem in an optimistic rollup like Truebit on Ethereum, I'd like my contract to require a "proof" that a minimum number of deal orders for a file have been finalized **with random storage miners** in Filecoin.

The concern is that a malicious Filecoin client colludes with a small minority of malicous miners (known to the client but unknown to the rest of the

[2021-06-17 02:35] Willian2304 commented on #95
Ok

[2021-06-17 02:36] Willian2304 commented on #95
#30 open

[2021-06-17 02:38] Willian2304 commented on #95
#142

[2021-06-17 02:38] Willian2304 commented on #95
#95